@function rem($px) {
    @if $px == 0 {
        @return 0;
    }
    @if $px <=2 and $px > 0 {
        @return 1px;
    }
    @else {
        @return $px / ($px * 0 + 1) / 40 * 1rem;
    }
}
$img:'../images';
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.hidden{
    display:block;
    width:0;
    height:0;
    overflow:hidden;
}
.spr{
    background:url(../images/spr.png)  no-repeat;
    background-size: rem(888) rem(594);
}
.treas_wraper{
    width: rem(750);
    background: url(../images/bg1.jpg) no-repeat #f7f7f7;
    background-size: rem(750) rem(1453);
    padding: 0 0 rem(20) 0;
    .t_logo{
       display: block; 
       width: rem(60);
       height: rem(60);
       margin: 0 0 0 rem(20);
       text-indent: -9999px;
    }
    .t_pp_box{
        width: rem(750);
        height: rem(280);
        position: absolute;
        left: 0;
        top: rem(245);
        overflow: hidden;
        .t_pp_list{
            width: 100%;
            margin: rem(145) auto 0;
            padding: 1px 0 0 0;
            li{
                width: 100%;
                height: rem(33);
                line-height: rem(33);
                margin: 0 0 rem(8) 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                .t_pp_left{
                    display: block;
                    width: rem(24);
                    height: rem(33);
                    background: url(../images/t_pp_left.png) no-repeat;
                    background-size: rem(24) rem(33);
                    float: left;
                }
                .t_pp_center{
                    float: left;
                    height: rem(33);
                    background: url(../images/t_pp_center.png) repeat-x;
                    background-size: auto rem(33);
                    line-height: rem(33);
                    color: #ffffff;
                    font-size: rem(22);
                }
                .t_pp_right{
                    display: block;
                    width: rem(19);
                    height: rem(33);
                    background: url(../images/t_pp_right.png) no-repeat;
                    background-size: rem(19) rem(33);
                    float: left;
                }
            }
        }
    }
    .t_join_num{
        width: 100%;
        color: #ffffff;
        font-size: rem(24);
        text-align: center;
        .join_num_in{
            display: inline-block;
            height: rem(30);
            vertical-align: middle;
            position: relative;
            margin: rem(148) auto 0;
            &:before{
                content: "";
                width: rem(44);
                height: rem(0);
                border: #fff solid 1px;
                position: absolute;
                left: rem(-50);
                top: 50%;
            }
            &:after{
                content: "";
                width: rem(44);
                height: rem(0);
                border: #fff solid 1px;
                position: absolute;
                right: rem(-50);
                top: 50%;
            }
        }
    }
    .t_zl_box{
        width: rem(689);
        padding: 1px 0 rem(15) 0;
        background: url(../images/t_zl_bg.jpg) no-repeat #fd4375;
        background-size: rem(689) rem(583);
        margin: rem(310) auto 0;
        border-radius: 0 0 rem(6) rem(6);
        position: relative;
        .t_zl_tit{
            display: block;
            width: 100%;
            color: #ffffff;
            font-size: rem(30);
            margin: rem(20) auto rem(10);
            text-align: center;
            line-height: rem(36);
        }
        .t_count{
            width: 100%;
            height: rem(30);
            text-align: center;
            color: #ffffff;
            font-size: rem(24);
            line-height: rem(30);
        }
        .t_time{
            display: inline-block;
            width: rem(30);
            height: rem(30);
            text-align: center;
            line-height: rem(30);
            background: #ffffff;
            border-radius: rem(4);
            color: #fa6501;
            font-size: rem(20);
        }
        .t_dw{
            width: rem(606);
            margin: rem(36) auto 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            span{
                display: block;
                width: rem(202);
                color: #ffffff;
                font-size: rem(24);
                text-align: center;
                line-height: rem(32);
                i{
                    color: #fcf02a;
                }
            }
        }
        .t_progress_bar{
            width: rem(606);
            height: rem(8);
            margin: rem(30) auto 0;
            border-radius: rem(4);
            background: #ffbb04;
            position: relative;
        }
        .t_prog_in{
            display: block;
            height: rem(8);
            width: 0%;
            border-radius: rem(4);
            background: #fcf02a;
            -webkit-transition: width 1s;
            transition: width 1s;
        }
        .t_fir_node{
            display: block;
            width: rem(31);
            height: rem(36);
            background: url(../images/t_circle.png) no-repeat;
            background-size: rem(31) rem(36);
            position: absolute;
            left: rem(92);
            top: rem(-14);
        }
        .t_sec_node{
            left: rem(287);
        }
        .t_thi_node{
            left: rem(480);
        }
        .t_hands{
            display: block;
            width: rem(68);
            height: rem(80);
            position: absolute;
            left:50%;
            top: rem(-80);
            background-position:rem(-102) rem(-72);
            -webkit-animation: t_hand 1.5s  infinite;
                    animation: t_hand 1.5s  infinite;
            margin:0 0 0 rem(-34);
            z-index: 20;
            display: none;
        }
        .t_treas_box{
            width: 100%;
            height: rem(139);
            margin: rem(108) auto 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            li{
                width: rem(172);
                height: rem(139);
                position:relative;
                &:nth-child(1){
                    margin: 0 0 0 rem(47);
                }
                &:nth-child(3){
                    margin: 0 rem(47) 0 0;
                }
                &.t_ani{                    
                    
                }
                &.open{
                    .t_t_img{
                        -webkit-animation:t_t_ani 0.3s linear 1 both;
                                animation:t_t_ani 0.3s linear 1 both;
                                 background-size: rem(211) rem(222);
                                 background-repeat:  no-repeat;
                    }
                    .t_y_img{
                        -webkit-animation:t_y_ani 0.3s linear 1 both;
                                animation:t_y_ani 0.3s linear 1 both;
                                 background-size: rem(211) rem(222);
                                 background-repeat:  no-repeat;
                    }
                    .t_j_img{
                        -webkit-animation:t_j_ani 0.3s linear 1 both;
                                animation:t_j_ani 0.3s linear 1 both;
                                 background-size: rem(211) rem(222);
                                 background-repeat:  no-repeat;
                    }
                }
            }
        }
        .t_bling{
            display: block;
            width: rem(273);
            height: rem(224);
            background: url(../images/t_bling.png) no-repeat;
            background-size: rem(273) rem(224);
            position: absolute;
            left: rem(-50);
            top: rem(-50);
            z-index: 0;
        }
        .t_bx_btn{
            display: block;
            width: rem(211);
            height: rem(222);
            position: absolute;
            left: rem(-20);
            top: rem(-100);
            z-index: 10;
        }
        .t_t_img{background: url(../images/t_ani_img1.png) no-repeat; background-size: rem(211) rem(222);}
        .t_y_img{background: url(../images/y_ani_img1.png) no-repeat; background-size: rem(211) rem(222);}
        .t_j_img{background: url(../images/j_ani_img1.png) no-repeat; background-size: rem(211) rem(222);}
        .t_num_para{
            width: 100%;
            text-align: center;
            color: #ffffff;
            font-size: rem(28);
            line-height: rem(34);
            margin: rem(20) auto rem(16);
            span{ color: #fcf02a;}
        }
        .t_invi_btn{
            display: block;
            width: rem(465);
            height: rem(127);
            margin: 0 auto;
            text-align: center;
            background-position:rem(-423) rem(-140);
            line-height: rem(98);
            color: #fa6501;
            font-size: rem(32);
        }
        .t_tbtn_box{
            width: rem(650);
            margin: 0 auto;
            height: rem(32);
            line-height: rem(32);
        }
        .t_g_btn{
            float: left;
            color: #ffffff;
            font-size: rem(24);
            line-height: rem(32);
        }
        .t_g_icon{
            display: inline-block;
            width: rem(32);
            height: rem(32);
            background-position:rem(-49) rem(-13);
            vertical-align: middle;
            padding: 0 rem(10) 0 0;
        }
        .t_r_icon{
            width: rem(30);
            height: rem(30);
            background-position:0 rem(-123);
        }
        .t_r_btn{
            float: right;
        }
        .t_zl_people{
            width: rem(650);
            margin: rem(36) auto 0;
            background: #ffffff;
            border-radius: rem(8);
            overflow: hidden;
            position: relative;
            padding: 0 0 rem(76) 0;
        }
        .t_p_num{
            width: 100%;
            text-align: center;
            color: #666666;
            font-size: rem(28);
            line-height: rem(36);
            margin: rem(16) auto 0;
            strong{
                display: inline-block;
                position: relative;
                &:before{
                    content: "";
                    width: rem(70);
                    height: rem(0);
                    border: #fd4375 solid rem(1);
                    position: absolute;
                    left: rem(-88);
                    top: 50%;
                }
                &:after{
                    content: "";
                    width: rem(70);
                    height: rem(0);
                    border: #fd4375 solid rem(1);
                    position: absolute;
                    right: rem(-88);
                    top: 50%;
                }
            }
            span{
                color: #fd4375;
            }
        }
        .t_p_hdlist{
            width: 100%;
            max-height: rem(290);
            overflow: hidden;
            padding: rem(36) 0 0 0;
            li{
                width: rem(100);
                float:left;
                margin:0 rem(58) rem(18) 0;  
                &:nth-child(4n+1){
                    margin: 0 rem(58) rem(18) rem(26);
                }
                &:nth-child(4n){
                    margin: 0 rem(26) rem(18) 0;
                }
            }
            .t_img_box{
                display: block;
                margin: 0 auto;
                width: rem(90);
                height: rem(90);
                border-radius:50%;
                background: #ea3599;
                position: relative;
                img{ width: rem(90); height: rem(90); border-radius: 50%;}
                .t_hd_tips{
                    display: inline-block;
                    height: rem(28);
                    line-height: rem(32);
                    padding: 0 rem(9);
                    position: absolute;
                    left: 50%;
                    top:rem(-10);
                    white-space: nowrap;
                    background: -webkit-gradient(linear,left top, right top,from(#e93b3d),to(#fe9474));
                    background: linear-gradient(to right,#e93b3d,#fe9474);
                    border-radius: rem(14) rem(14) rem(14) 0;
                    color: #ffffff;
                    font-size: rem(20);
                }
            }
            .t_p_name{
                width: 100%;
                text-align: center;
                color: #666666;
                font-size: rem(20);
                white-space: nowrap;
                overflow: hidden;
                margin: rem(8) 0 0 0;
            }
        }
        .t_tips{
            display: block;
            width: rem(20);
            height: rem(22);
            background-position:rem(-18) rem(-19);
            position: absolute;
            left: 50%;
            bottom: rem(34);
        }
        
        .t_overdue,.t_count2,.t_num_para2{
            display: none;
        }
    }
    .over{
       .t_overdue{
            display: block;
            width: rem(104);
            height: rem(104);
            background-position:rem(-299) rem(-178);
            position: absolute;
            right: 0;
            top:rem(60);
        }
        .t_count2,.t_num_para2{display: block;}
        .t_count_ys,.t_num_parays,.t_zl_people,.t_bf_para,.t_bf_box{
            display: none;
        }
        .t_t_img{ background: url(../images/tgrey_img.png) no-repeat; background-size: rem(172) rem(139); left: 0; top: 0;}
        .t_y_img{ background: url(../images/ygrey_img.png) no-repeat; background-size: rem(172) rem(139); left: 0; top: 0;}
        .t_j_img{ background: url(../images/jgrey_img.png) no-repeat; background-size: rem(172) rem(139); left: 0; top: 0;}
    }
     
    .t_pp{
        width: rem(690);
        background: #fff;
        border-radius: rem(4);
        overflow: hidden;
        margin: rem(29) auto 0;
    }
    .t_banner_box{
        width: 100%;
        height: rem(320);
        position: relative;
        background: url(../images/t_banner.jpg) no-repeat;
        background-size: rem(690) rem(320);
        overflow: hidden;
    }
    .t_b_logo{
        display: block;
        width: rem(140);
        height: rem(60);
        position: absolute;
        left: 0;
        top: 0;
        background: url(../images/t_b_banner.png) no-repeat;
        background-size: rem(140) rem(60);
    }
    .t_pp_name{
        display: block;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: rem(40);
        line-height: rem(46);
        margin: rem(76) auto 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .t_pp_des{
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: rem(28);
        line-height: rem(36);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .t_ck{
        display: block;
        width: rem(160);
        height: rem(50);
        text-align: center;
        line-height: rem(50);
        border-radius: rem(25);
        color: #ffffff;
        font-size: rem(28);
        margin: rem(20) auto 0;
        background: -webkit-gradient(linear,left top, right top,from(#e93c3d),to(#fe9474));
        background: linear-gradient(to right,#e93c3d,#fe9474);
    }
    .t_sj{
        display: block;
        width: rem(26);
        height: rem(10);
        background: url(../images/s_icon.png) no-repeat;
        background-size: rem(26) rem(10);
        position: absolute;
        left: 50%;
        bottom: 0;
        margin: 0 0 0 rem(-13);
    }
    .t_pp_link{
        display: block; 
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .t_sw_box{
        width: 100%;
        height: rem(330);
        margin: rem(40) auto 0;
        overflow: hidden;
        .swiper-wrapper{
            width: 10000%;
            height: rem(290);
            li{
                margin: 0 0 0 rem(24);
                width: rem(200);
                float: left;
            }
        }
    }
    .t_s_box{
        width: rem(200);
        height: rem(196);
        img{ display: block; width: rem(200); height: rem(196);}
    }
    .t_s_name{
        width: 100%;
        text-align: center;
        color: #999999;
        font-size: rem(24);
        line-height: rem(30);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: rem(6) 0 0 0;
    }
    .t_s_name2{
        color: #333333;
        text-align: left;
        white-space: normal;
        text-overflow: inherit;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
    .t_s_price{
        width: 100%;
        text-align: center;
        color: #ea3b3e;
        font-size: rem(24);
        line-height: rem(34);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        span{
            font-size: rem(32);
        }
    }
    .s_pag{
        width: 100%;
        text-align: center;
        height: rem(8);
        line-height: rem(8);
        span{ display: inline-block; width: rem(8); height: rem(8); background:#cccccc; border-radius:rem(4); margin: 0 rem(5); -webkit-transition: width 0.7s; transition: width 0.7s; vertical-align: middle;}
        .swiper-pagination-bullet-active{ width: rem(16); background: #e93536;}
    }
    .t_bc_tit{
        width: 100%;
        text-align: center;
        color: #333333;
        font-size: rem(36);
        line-height: rem(36);
        margin: rem(32) auto 0;
        position: relative;
    }
    .t_bc_list{
        height: rem(466);
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
        li{
            width: rem(276);
            height: rem(466);
            margin: 0 0 0 rem(28);
            display: inline-block;
            position: relative;
        }
    }
    .bc_img{
        display: block;
        width: rem(276);
        height: rem(276);
        margin: rem(30) auto 0;
    }
    .t_bc_jj{
        display: block;
        width: rem(60);
        height: rem(32);
        text-indent: -9999px;
        background: url(../images/bc_jj.png) no-repeat;
        background-size: rem(60) rem(32);
        position: absolute;
        left: 0;
        top: rem(32);
    }
    .t_bc_mj{
        display: block;
        width: rem(123);
        height: rem(32);
        line-height: rem(32);
        text-align: center;
        color: #ffffff;
        font-size: rem(20);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: url(../images/t_bc_mj.png) no-repeat;
        background-size: rem(123) rem(32);
        position: absolute;
        left: 0;
        top: rem(273);
    }
    .t_bc_name{
        width:100%;
        height: rem(72);
        color: #333333;
        font-size: rem(24);
        line-height: rem(38);
        white-space: normal;
        text-align: center;
        margin: rem(20) auto 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
    .t_bc_price{
        width: 100%;
        color: #ea3b3e;
        font-size: rem(24);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span{
            font-size: rem(32);
        }
    }
    .t_bc_more{
        display: inline-block;
        margin: rem(30) 0 0 rem(62);
        width: rem(92);
        height: rem(274);
        background: #f7f7f7;
        border-radius: rem(6);
        vertical-align: top;
        color: #999999;
        font-size: rem(24);
        text-align: center;
        line-height: rem(30);
        padding: rem(130) 0 0 0;
    }
    .t_zj_similar{
        display: block;
        width: rem(102);
        height: rem(32);
        border-radius: rem(16);
        line-height: rem(32);
        text-align: center;
        color: #ffffff;
        font-size: rem(20);
        white-space: nowrap;
        overflow: hidden;
        background: linear-gradient( to right,#e93c3e,#ff9373);
        position: absolute;
        right: 0;
        top: rem(406);
    }
    .t_bc_iconl{
        display: inline-block;
        width: rem(56);
        height: rem(35);
        background-position:rem(-91) 0;
        margin: 0 rem(8) 0 0;
    }
    .t_bc_iconr{
        width: rem(64);
        height: rem(34);
        background-position:rem(-232) 0;
        margin: 0 0 0 rem(8);
    }
    .t_ck_btn{
        display: inline-block;
        height: rem(28);
        line-height: rem(28);
        color: #999999;
        font-size: rem(24);
        position: absolute;
        top: rem(8);
        right: rem(38);
    }
    .t_ck_icon{
        display: inline-block;
        width: rem(12);
        height: rem(20);
        background-position:0 0;
        margin: 0 0 0 rem(5);
    }
    .pers_box{
        display: none;
    }
}
.t_bf_para{
            width: 100%;
            text-align: center;
            color: #ffffff;
            font-size: rem(28);
            line-height: rem(36);
            margin: rem(30) auto rem(24);
            span{
                display: inline-block;
                position: relative;
                &:before{
                    content: "";
                    width: rem(86);
                    height: 0;
                    border-bottom: rem(1) #fff solid;
                    position: absolute;
                    left: rem(-92);
                    top: 50%;
                }
                &:after{
                    content: "";
                    width: rem(86);
                    height: 0;
                    border-bottom: rem(1) #fff solid;
                    position: absolute;
                    right: rem(-92);
                    top: 50%;
                }
            }
        }
        .t_bf_box{
            width: 100%;
            overflow: hidden;
            overflow-x: auto;
        }
        .t_bf_list{
            white-space: nowrap;
            li{
                width: rem(190);
                display: inline-block;
                margin: 0 0 0 rem(20);
            }
        }
        .t_bf_link{
            display: block;
            width: rem(190);
            height: rem(190);
            position: relative;
        }
        .t_bf_img{
            display: block;
            width: rem(190);
            height: rem(190);
            border-radius: rem(4);
        }
        .t_bf_icon{
            display: inline-block;
            height: rem(32);
            line-height: rem(32);
            padding: 0 rem(10);
            color: #ffffff;
            font-size: rem(24);
            border-radius: rem(16) rem(16) 0 rem(16);
            background: -webkit-gradient(linear,left top, right top,from(#e93c3d),to(#fe9373));
            background: linear-gradient(to right,#e93c3d,#fe9373);
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .t_bf_name{
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            color: #ffffff;
            font-size: rem(24);
            text-overflow: ellipsis;
            text-align: center;
            margin: rem(14) auto 0;
        }
.per_wrap{
    background: url(../images/per_wrap_bg.jpg) no-repeat #f7f7f7;
    background-size: rem(750) rem(290);
    position: relative;
    .t_join_num,.t_pp_box,.t_logo{display: none;}
    .pers_box{
        display: block;
        width: rem(750);
        margin: 0 auto;
        overflow: hidden;
    }
    .pers_rec{
        width: rem(520);
        margin:rem(103) 0 0 rem(230);
        color: #ffffff;
        font-size: rem(30);
        line-height: rem(36);
        text-align: center;
        span{
            color: #fee262;
        }
    }
    .pers_rec2{
        margin: rem(18) 0 0 rem(230);
        font-size: rem(26);
    }
    
    .t_pers_morebtn{
        display: block;
        width: rem(690);
        height: rem(80);
        text-align: center;
        line-height: rem(80);
        color: #999999;
        font-size: rem(24);
        background: #fff;
        border-radius: rem(6);
        margin: 0 auto;
    }
    .t_pers_more{
        display: inline-block;
        width: rem(20);
        height: rem(12);
        background-position:rem(-19) 0;
        margin: 0 0 0 rem(8);
    }
    .t_zl_box{
        margin: rem(30) auto 0;
    }
}
.t_bc_para{
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: rem(20);
    line-height: rem(26);
    margin: rem(5) auto 0;
}
.t_bc_box{
    width: 100%;
    height: rem(464);
    overflow: hidden;
    overflow-x:auto;
    margin: rem(32) auto 0;
    background: #fff;
    white-space: nowrap;
}
.t_bp_box{
    width: 100%;
    height: rem(90);
    border-bottom:#eeeeee solid 1px;
    overflow: hidden;
    .t_bp_count{
        width: rem(662);
        height: rem(36);
        color: #666666;
        font-size: rem(24);
        line-height: rem(36);
        margin: rem(27) auto 0;
        padding:  0 0 0 rem(28) ;
        .t_bp_time{
            display: inline-block;
            width: rem(30);
            height: rem(36);
            text-align: center;
            line-height: rem(36);
            background-position:0 rem(-163);
            vertical-align: middle;
            color: #ea3b3e;
            font-size: rem(22);
            margin: 0 0 0 rem(10);
        }
        .t_bp_h{
            margin: 0 0 0 rem(20);
        }
    }
}
.t_cou_list{
    width: rem(690);
    margin: rem(120) auto 0;
    
}
.t_cou_list li,.yhq_yh{
    width: rem(690);
    height: rem(200);
    margin: 0 auto rem(25);
    background: url(../images/coupon1.png) no-repeat;
    background-size: rem(690) rem(200);
    &.d_cou{
        background: url(../images/coupon2.png) no-repeat;
        background-size: rem(690) rem(200);
        .t_info_jq{
            background: url(../images/dq_tips.png) no-repeat;
            background-size: rem(74) rem(32);
        }
        .t_info_sy{
            background: #55c8cb;
        }
    }
}
.t_cou_num{
    width: rem(200);
    height: rem(200);
    float: left;
    overflow: hidden;
}
.t_mon_num{
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: #ffffff;
    font-size: rem(32);
    line-height: rem(36);
    margin: rem(42) auto 0;
    white-space: nowrap;
    span{
        display: inline-block;
        font-size: rem(76);
        line-height: rem(64);
        vertical-align: top;
    }
}
.t_mon_yq{
    width: 100%;
    text-align: center;
    font-size: rem(24);
    color: #fff;
    line-height: rem(32);
    margin: rem(10) auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.t_info_box{
    width: rem(490);
    height: rem(200);
    float: left;
    overflow: hidden;
    position: relative;
}
.t_info_fw{
    width: rem(438);
    margin: rem(22) auto 0;
    height: rem(118);
    color: #666666;
    font-size: rem(24);
    line-height: rem(34);
}
.t_info_jq{
    display: inline-block;
    width: rem(74);
    height: rem(32);
    background: url(../images/jq_tips.png) no-repeat;
    background-size: rem(74) rem(32);
    color: #ffffff;
    font-size: rem(24);
    text-align: center;
    line-height: rem(32);
    margin: 0 rem(12) 0 0;
}
.t_info_time{
    width: rem(438);
    color: #999999;
    font-size: rem(24);
    line-height: rem(32);
    margin: rem(0) auto 0;
}
.t_info_sy{
    display: block;
    width: rem(160);
    height: rem(50);
    text-align: center;
    line-height: rem(50);
    background: #fa9697;
    border-radius: rem(25);
    color: #ffffff;
    font-size: rem(28);
    position: absolute;
    right: rem(30);
    bottom: rem(28);
}
.t_mem_list{
    width: rem(750);
    margin: rem(36) auto 0;
    li{
        width: rem(216);
        height: rem(360);
        background: #fff;
        border-radius: rem(6);
        overflow: hidden;
        float: left;
        margin: 0 rem(20) rem(20) 0;
        &:nth-child(3n+1){
           margin: 0 rem(20) rem(20) rem(30); 
        }
    }
    .t_mem_link{
        display: block;
        width: rem(216);
        height: rem(360);
    }
    .t_mem_img{
        display: block;
        width: rem(216);
        height: rem(216);
    }
    .t_mem_des{
        width:rem(170);
        margin: rem(10) auto 0;
        text-align: center;
        color: #333333;
        font-size: rem(24);
        line-height: rem(32);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical
    }
    .t_mem_price{
        width: 100%;
        text-align: center;
        color: #ea3b3e;
        margin: rem(15) auto 0;
        font-size: rem(24);
        line-height: rem(36);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        span{
            font-size: rem(32);
        }
    }
}
.t_yl_list{
    width: rem(750);
    margin: rem(36) auto 0;
    li{
        width: rem(336);
        height: rem(470);
        float: left;
        margin: 0 rem(18) rem(20) 0;
        background: #fff;
        border-radius: rem(6);
        overflow: hidden;
        position: relative;
        &:nth-child(2n+1){
            margin: 0 rem(18) rem(20) rem(30);
        }
        .t_ylimg_box{
            display: block;
            width: rem(274);
            height: rem(274);
            margin: rem(30) auto 0;
            position: relative;         
        }
        .t_yl_img{
            display: block;
            width: rem(274);
            height: rem(274);
        }
        .t_yl_name{
            width: rem(280);
            margin: rem(22) auto 0;
            word-break: break-all;
            color: #333333;
            font-size: rem(24);
            line-height: rem(32);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical
        }
        .t_yl_tips{
            display: inline-block;
            height: rem(32);
            max-width: rem(200);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: rem(16) 0 rem(16) rem(16);
            background: -webkit-gradient(linear,left top, right top,from(#ea3b3d),to(#ff9373));
            background: linear-gradient(to right,#ea3b3d,#ff9373);
            color: #ffffff;
            font-size: rem(20);
            line-height: rem(32);
            text-align: center;
            padding: 0 rem(8);
        }  
        .t_yl_price{
            width: rem(274);
            margin: rem(6) auto 0;
            color: #e93b3d;
            font-size: rem(24);
            line-height: rem(36);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            span{
                font-size: rem(32);
            }
        }
        .t_yl_gbtn{
            display: block;
            width: rem(31);
            height: rem(7);
            background-position:rem(-50) 0;
            position: absolute;
            right: rem(36);
            bottom: rem(50);
            text-indent: -9999px;
            z-index: 10;
        } 
        .t_yl_fc{
            width: rem(336);
            height: rem(470);
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(255,255,255,0.6);
            z-index: 20;
            -webkit-transform: scale(0);
                    transform: scale(0);
        }
        .y_yl_fxs{
            display: block;
            width: rem(172);
            height: rem(60);
            text-align: center;
            line-height: rem(60);
            color: #ffffff;
            font-size: rem(28);
            border-radius: rem(30);
            background: -webkit-gradient(linear,left top, right top,from(#e93c3d),to(#ff9473));
            background: linear-gradient(to right,#e93c3d,#ff9473);
            margin: rem(156) auto 0;
        }
        .y_yl_dislk{
            color: #333333;
            background: #fff;
            margin: rem(40) auto 0;
        }
        .y_yl_close{
            display: block;
            width: rem(26);
            height: rem(26);
            background-position:rem(-17) rem(-46);
            text-indent: -9999px;
            position: absolute;
            right: rem(36);
            bottom: rem(50);
        }
    }
}
.t_more{
    display: block;
    width: rem(10);
    height: rem(50);
    background-position:0 rem(-30);
    margin: rem(30) auto rem(20);
}
.top_btn{
    display: block;
    width: rem(91);
    height: rem(91);
    text-indent: -9999px;
    background-position:0 rem(-211);
    position: fixed;
    right: rem(20);
    bottom: rem(50);
    z-index: 100;
}
.t_bc_car{
    display: block;
    width: rem(29);
    height: rem(26);
    background-position:0 rem(-88);
    position: absolute;
    right: rem(36);
    bottom: rem(50);
    text-indent: -9999px;
}
.tc_cou_wrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    background: rgba(0,0,0,0.7);
}
.tc_cou_in{
    width: rem(750);
    height: rem(760);
    position: absolute;
    left: 0;
    top: 50%;
    margin: rem(-380) 0 0 0;
}
.tc_cou_tit{
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: rem(42);
    line-height: rem(50);
    font-weight: 300;
}
.tc_cou_img{
    display: block;
    width: rem(326);
    height: rem(314);
    margin: rem(15) auto 0;
    -webkit-animation: cou_img 0.5s 1 both;
            animation: cou_img 0.5s 1 both;
            background-size: rem(326) rem(314);
            background-repeat:  no-repeat;
    overflow: hidden;
}
.tc_img{
    display: block;
    width: rem(214);
    height: rem(134);
    opacity: 0;
    margin: rem(54) auto 0;
    -webkit-animation: tc_img 0.1s 0.5s 1 both;
            animation: tc_img 0.1s 0.5s 1 both;
}
@-webkit-keyframes tc_img{
    100%{
        opacity: 1;
    }
}
@keyframes tc_img{
    100%{
        opacity: 1;
    }
}
.tc_lj_rec{
    display: block;
    width: rem(465);
    height: rem(127);
    margin: rem(40) auto 0;
    background-position:0 rem(-329);
    color: #fa6501;
    font-size: rem(32);
    text-align: center;
    line-height: rem(100);
}
.tc_close{
    display: block;
    width: rem(60);
    height: rem(60);
    margin: rem(110) auto 0;
    background-position:rem(-161) 0;
    text-indent: -9999px;
}
.tc_bean{
    width: rem(181);
    height: rem(159);
}
.tc_yhq{
    width: rem(241);
    height: rem(135);
    margin: rem(54) auto 0;
    background: url(../images/tc_yhq_bg.png) no-repeat;
    background-size: rem(241) rem(135);
    opacity: 0;
    -webkit-animation: tc_img 0.1s 0.5s 1 both;
            animation: tc_img 0.1s 0.5s 1 both;
}
.tc_left{
    width: rem(166);
    height: rem(112);
    margin: rem(12) 0 0 rem(20);
    float: left;
}
.tc_mon_num{
    width: 100%;
    text-align: center;
    color: #fe2635;
    font-size: rem(28);
    line-height: rem(45);
    margin: rem(12) auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    span{font-size: rem(60);}
}
.tc_mon_yq{
    width: 100%;
    text-align: center;
    color: #fe2635;
    font-size: rem(28);
    line-height: rem(32);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tc_name{
    width: rem(48);
    height: rem(110);
    float: left;
    text-align: center;
    color: #ffffff; 
    font-size: rem(28);
    line-height: rem(32);
    padding: rem(15) 0 0 0;
}
.tc_cou_img2{
  -webkit-animation: cou_img2 0.5s 0.5s 1 both;
          animation: cou_img2 0.5s 0.5s 1 both;  
          background-size: rem(326) rem(314);
          background-repeat:  no-repeat;
}
.tc_fzl{
    width:rem(134);
    height: rem(140);
    -webkit-animation: tc_img 0.1s 0.5s 1 both;
            animation: tc_img 0.1s 0.5s 1 both;
}
.share_in{
    width: rem(750);
    height: rem(700);
    position: absolute;
    left: 0;
    top: 50%;
    margin: rem(-350) 0 0 0;
}
.s_hands{
    display: block;
    width: rem(99);
    height: rem(133);
    background-position:rem(-101) rem(-170);
    position: absolute;
    right: rem(200);
    top: rem(-120);
    -webkit-animation: share_hands 1s infinite;
            animation: share_hands 1s infinite;
}
.s_treas{
    display: block;
    width: rem(559);
    height: rem(506);
    margin: rem(-200) auto 0;
}
.s_para{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: rem(36);
    line-height: rem(50);
    margin: rem(10) auto 0;
}
.tc_box{
    width: rem(522);
    border-radius: rem(6);
    border: #ef7ef3 solid rem(8);
    background: -webkit-gradient(linear,left top, left bottom,from(#e946ed),to(#f9585d));
    background: linear-gradient(to bottom,#e946ed,#f9585d);
    position: absolute;
    left: 50%;
    top: rem(300);
    margin: 0 0 0 rem(-261);
}
.s_fail_para{
    width: 100%;
    text-align: center;
    height: rem(140);
    line-height: rem(140);
    color: #ffffff;
    font-size: rem(32);
}
.s_yq{
    display: block;
    width: rem(100);
    height: rem(100);
    margin: rem(43) auto 0;
    background-position:rem(-177) rem(-66);
}
.s_yq_para{
    height: rem(120);
    line-height: rem(80);
}
.s_yq2{
    background-position:rem(-307) rem(-55);
}
.s_sx_para{
    width: 100%;
    text-align: center;
    height: rem(74);
    line-height: rem(74);
    color: #ffffff;
    font-size: rem(32);
}
.s_sx_para2{
    width: 100%;
    height: rem(70);
    text-align: center;
    color: #ffffff;
    font-size: rem(28);
    line-height: rem(32);
}
.t_dq{
    width: rem(335);
    height: rem(150);
    margin: 0 auto;
    background: url(../images/t_dq.png) no-repeat;
    background-size: rem(335) rem(150);
    overflow: hidden;
}
.t_dq_mon{
    width: 100%;
    color: #999999;
    font-size: rem(46);
    line-height: rem(52);
    margin: rem(30) auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    i{
        display: inline-block;
        color: #74d2d4;
        font-size: rem(24);
        vertical-align: top;
        line-height: rem(36);
        margin: 0 0 0 rem(10);
    }
    em{
        font-size: rem(24);
    }
    span{
       color: #74d2d4;
       padding: 0 rem(10) 0 0;
    }
}
.t_dq_para{
    width: 100%;
    height: rem(50);
    line-height: rem(50);
    color: #ffffff;
    font-size: rem(24);
    text-indent: rem(20);
    margin: rem(12) auto 0;
}
.t_dq2{
    margin: rem(10) auto rem(30);
}
.s_tx_para{
    margin: rem(30) auto 0;
}
.t_info_list{
    width: rem(484);
    margin: 0 auto;
    li{
        width: 100%;
        height: rem(88);
        line-height: rem(88);
        margin: 0 0 rem(19) 0;
    }
    .t_lj_opt{
        display: inline-block;
        width: rem(132);
        height: rem(88);
        line-height: rem(88);
        color: #ffffff;
        font-size: rem(28);
    }
    .t_lj_name{
        width: rem(346);
        height: rem(88);
        border: none;
        background: #f281d9;
        line-height: rem(24);
        color: #fff;
        line-height: rem(88);
        text-indent: rem(20);
    }
}
.t_sure_btn{
    display: block;
    width: rem(465);
    height: rem(127);
    margin: 0 auto;
    background-position:rem(-420) 0;
    text-align: center;
    line-height: rem(110);
    color: #fa6501;
    font-size: rem(32);
}
.t_close{
    display: block;
    width: rem(50);
    height: rem(80);
    position: absolute;
    top: rem(-88);
    right: rem(50);
    background-position:rem(-44) rem(-81);
    text-indent: -9999px;
}
.t_rule_tit{
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: rem(32);
    line-height: rem(40);
    font-weight: 100;
    margin: rem(38) auto 0;
}
.t_rule_box{
    width: rem(478);
    height: rem(565);
    margin: rem(15) auto rem(30);
    overflow: hidden;
    overflow-y:auto;
}
.t_rule_box::-webkit-scrollbar{
    width:0.12rem;
    height:0.12rem;
    padding: 0 0.02rem;
}
.t_rule_box::-webkit-scrollbar-button{
    width:0;
    height:0
}
.t_rule_box::-webkit-scrollbar-corner{
    display:block
}
.t_rule_box::-webkit-scrollbar-thumb{
    background-clip:padding-box;
    background-color:#f4f4f4;
    border-radius:rem(8);
}
.t_rule_list{
    width:rem(450);
    li{ 
        width: 100%;
        color: #ffffff;
        font-size: rem(24);
        line-height: rem(32);
        margin: 0 0 rem(10) 0;
        span{
            font-size: rem(28);
            &.t_mt{
                padding: rem(30) 0 0 0 ;
            }
        }
    }
}
.t_lj_info{
    display: inline-block;
    width: rem(346);
    height: rem(88);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: rem(88);
    color: #fff;
    vertical-align: middle;
}
.t_ggh_para{
    width: 100%;
    color: #ffffff;
    font-size: rem(28);
    line-height: rem(36);
    text-align: center;
    margin: rem(58) auto 0;
}
.j_code{
    display: block;
    width: rem(230);
    height: rem(230);
    margin: rem(15) auto 0;
}
.finger_box{
    width: 100%;
    height: rem(238);
    border-radius: rem(238) rem(238) 0 0;
    background: rgba(255,255,255,0.2);
    margin: rem(44) auto 0;
    overflow: hidden;
}
.finger_btn{
    display: block;
    width: rem(99);
    height: rem(99);
    background: url(../images/finger_print.png) no-repeat;
    background-size: rem(99) rem(99);
    margin: rem(40) auto 0;
    text-indent: -9999px;
}
.finger_para{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: rem(28);
    line-height: rem(36);
    margin: rem(20) auto 0;
}
.s_tx_para2{
    width: rem(376);
    margin: rem(30) auto rem(30);
    height: auto;
}
.gift_wrap{
    width: rem(750);
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding: 0 0 rem(110) 0;
    overflow: hidden;
    overflow-y:auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
}
.t_cou_list2{
    margin: rem(30) auto 0;
    padding: 0 0 rem(120) 0;
    li{
        .t_info_syuse{
            opacity: 0.3;
        }
        &.t_sw{
            background: url(../images/coupon3.png) no-repeat;
            background-size: rem(690) rem(200);
        }
    }
    .t_jp_img{
        display: block;
        width: rem(198);
        height: rem(198);
    }
    .t_jp_bean{
        display: block;
        width: rem(96);
        height: rem(83);
        margin: rem(50) auto 0;
    }
}
.t_ljsure_btn{
    display: block;
    width: 100%;
    height: rem(98);
    line-height: rem(98);
    text-align: center;
    color: #ffffff;
    font-size: rem(32);
    background: #e4393c;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}
.kx_box{
    width: rem(750);
    height: rem(1207);
    overflow: hidden;
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    z-index: 300;
    background: url(../images/kx_bg.jpg) no-repeat;
    background-size: rem(750) rem(1207);
}
.kx_close{
    display: block;
    width: rem(120);
    height: rem(82);
    border-radius: 0 0 rem(82) rem(82);
    background: #ffe9f7;
    text-indent: rem(30);
    line-height: rem(82);
    color: #ff0ead;
    font-size: rem(24);
    position: absolute;
    right: rem(-26);
    top: 0;
}
.kx_para_box{
    width: 100%;
    height: rem(85);
    margin: rem(210) auto 0;
    overflow:hidden;
    padding:rem(30) 0 0 0;
}
.kx_para{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: rem(32);
    line-height: rem(40);   
}
.kx_bx_box{
    width: 100%;    
    height: rem(303);
    margin: rem(36) auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.kx_bx{
    display: block;
    width: rem(386);
    height: rem(303);
    margin: 0 auto;
    background: url(../images/kx_box.png) no-repeat;
    background-size: rem(386) rem(303);
}
.kx_bd_btn{
    display: block;
    width: rem(465);
    height: rem(127);
    margin:rem(15) auto 0;
    text-align: center;
    line-height: rem(110);
    color: #fa6501;
    font-size: rem(32);
    background-position:0 rem(-329);
}
.kx_bd_btn2{
    width: rem(530);
    background-position:0 rem(-467);
}
.t_dq2{
    margin: rem(120) rem(20) 0;
}
.t_dq3{
    width: rem(216);
    height: rem(120);
    background: url(../images/jq_tmh.png) no-repeat;
    background-size: rem(216) rem(120);
    margin: rem(120) rem(20) 0;
    .t_dq_mon{
        margin: rem(10) auto 0;
    }
}
.kx_nothi{
    display: block;
    width: rem(195);
    height: rem(188);
    background: url(../images/fzl_img2.png) no-repeat;
    background-size: rem(195) rem(188);
    margin: rem(80) auto 0;
}
.yhq_wrap{
    width: rem(750);
    margin: 0 auto;
    padding: rem(30) 0 0 0;
    background: #000000;
    overflow: hidden;
}
.yhq_pink{
    background: url(../images/pink_coupon.png) no-repeat;
    background-size: rem(690) rem(200);
}
.t_info_zf{
    width: rem(101);
    background: url(../images/zf_tips.png) no-repeat;
    background-size: rem(101) rem(32);
}
.yhq_blue{
    background: url(../images/blue_coupon.png) no-repeat;
    background-size: rem(690) rem(200);
}
.t_info_yff{
    width: rem(101);
    background: url(../images/yff_tips.png) no-repeat;
    background-size: rem(101) rem(32);
}
.t_mon_yff{
    font-size: rem(42);
    line-height: rem(42);
    margin: rem(55) auto 0;
}
.yh_green_lg{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 rem(30) 0;
}
.t_green{
    margin: 0 rem(20);
}
.t_dq3_green{
    margin: 0 auto;
}
.yellowish_coupon{
    background: url(../images/yellowish_coupon.png) no-repeat;
    background-size: rem(690) rem(200);
}
.t_info_btq{
    width: rem(101);
    background: url(../images/bt_tips.png) no-repeat;
    background-size: rem(101) rem(32);
}
.t_bt_quan{
    background: url(../images/bt_quan.png) no-repeat;
    background-size: rem(335) rem(150);
    .t_dq_mon{
        span,i{
          color: #c9a86e;  
        }       
    }
}
.t_dq3_bt{
    background: url(../images/bt_quan_lit.png) no-repeat;
    background-size: rem(216) rem(120);
    .t_dq_mon{
        span,i{
          color: #c9a86e;  
        }       
    }
}
.t_yf_quan{
    background: url(../images/yf_quan.png) no-repeat;
    background-size: rem(335) rem(150);
    .t_dq_mon{
        span,i{
          color: #7ea7ce;  
        }       
    }
}
.t_dq3_yf{
    background: url(../images/yf_quan_lit.png) no-repeat;
    background-size: rem(216) rem(120);
    .t_dq_mon{
        span,i{
          color: #7ea7ce;  
        }       
    }
}
.t_j_quan{
    background: url(../images/j_quan.png) no-repeat;
    background-size: rem(335) rem(150);
    .t_dq_mon{
        span,i{
          color: #fa9899;  
        }       
    }
}
.t_dq3_j{
    background: url(../images/j_quan_lit.png) no-repeat;
    background-size: rem(216) rem(120);
    .t_dq_mon{
        span,i{
          color: #fa9899;  
        }       
    }
}
.t_zf_quan{
    background: url(../images/zf_quan.png) no-repeat;
    background-size: rem(335) rem(150);
    .t_dq_mon{
        span,i{
          color: #9c7ece;  
        }       
    }
}
.t_dq3_zf{
    background: url(../images/zf_quan_lit.png) no-repeat;
    background-size: rem(216) rem(120);
    .t_dq_mon{
        span,i{
          color: #9c7ece;  
        }       
    }
}
.all_treas_box{
    width: rem(690);
    margin: rem(30) auto 0;
    padding: 0 0 rem(50) 0;
    background: #ef2042;
}
.gold_treas{
    width: rem(640);
    padding:0 rem(50) 0 0;
    margin: rem(20) auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:end;
        -ms-flex-align:end;
            align-items:flex-end
}
.gold_treas_close{
    display: block;
    width: rem(273);
    height: rem(224);
    background: url(../images/gold_treas.png) no-repeat;
    background-size: rem(273) rem(224);
    background-position: rem(0) rem(30);
}
.gold_treas_yhq{
    width: rem(229);
    height: rem(221);
    background: url(../images/gold_yhq.png) no-repeat;
    background-size: rem(229) rem(221);
    background-position: rem(0) 0;
}
.gold_treas_yhqlit{
    width: rem(170);
    height: rem(94);
    background: url(../images/gold_yhqin.png) no-repeat;
    background-size: rem(170) rem(94);
    margin: rem(50) auto 0;   
}
.gold_left{
    width: rem(118);
    height: rem(78);
    float: left;
    margin: rem(9) 0 0 rem(15);
}
.gold_mon{
    width: 100%;
    text-align: center;
    color: #fe2635;
    font-size: rem(24);
    line-height: rem(32);
    margin: rem(6) auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span{
        font-size: rem(42);
        font-weight: bold;
    }
}
.gold_yq{
    width: 100%;
    text-align: center;
    color: #fe2635;
    font-size: rem(20);
    height: rem(28);
    line-height: rem(28);
    margin: rem(6) auto 0;
}
.gold_yf_name{
    width: rem(34);
    text-align: center;
    color: #ffffff;
    font-size: rem(20);
    line-height: rem(26);
    float: left;
    padding: rem(5) 0 0 0;
}
.gold_treas_lock{
    width: rem(173);
    height: rem(137);
    background: url(../images/gold_treas_lock.png) no-repeat;
    background-size: rem(173) rem(137);
}
.sliver_treas_close{
    background: url(../images/silver_close.png) no-repeat;
    background-size: rem(273) rem(224);
    background-position: rem(0) rem(30);
}
.sliver_treas_yhq{
    background: url(../images/silver_light.png) no-repeat;
    background-size: rem(229) rem(222);
}
.sliver_treas_lock{
    background: url(../images/silver_lock.png) no-repeat;
    background-size: rem(172) rem(137);
}
.copper_treas_close{
    background: url(../images/copper_close.png) no-repeat;
    background-size: rem(273) rem(224);
    background-position: rem(0) rem(30);
}
.copper_treas_yhq{
    background: url(../images/copper_light.png) no-repeat;
    background-size: rem(229) rem(222);
}
.copper_treas_lock{
    background: url(../images/copper_lock.png) no-repeat;
    background-size: rem(172) rem(137);
}
.gold_treas2{
    padding: 0;
    width: rem(690);
}
.bean_num{
    width:100%;
    text-align: center;
    color: #ffffff;
    font-size: rem(32);
    line-height: rem(38);
    margin: rem(20) auto 0;
    white-space: nowrap;
    overflow: hidden;
}
.gold_bean_img{
    display: block;
    width: rem(133);
    height: rem(119);
    margin: 0 auto;
}
.gold_yl{
    display: block;
    width: rem(95);
    height: rem(99);
    margin: rem(60) auto 0;
}
.gold_sw_img{
    display: block;
    width: rem(150);
    height: rem(94);
    margin: rem(50) auto 0;
}
.share_box{
    width: rem(750);
    overflow: hidden;
}
.share_img_box{
    width: rem(410);
    margin: rem(64) auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.share_img{
    display: block;
    width: rem(100);
    height: rem(100);
}
.py_share_para{
    width: 100%;
    text-align: center;
    color: #ca2beb;
    font-size: rem(42);
    line-height: rem(46);
    margin: rem(38) auto rem(72);
}
.share_img2{
    display: block;
    width: rem(350);
    height: rem(240);
    margin: 0 auto;
}
@-webkit-keyframes share_hands{
    0%{-webkit-transform: translate(0,0);transform: translate(0,0);}
    100%{-webkit-transform: translate(rem(80),rem(-80));transform: translate(rem(80),rem(-80));}
}
@keyframes share_hands{
    0%{-webkit-transform: translate(0,0);transform: translate(0,0);}
    100%{-webkit-transform: translate(rem(80),rem(-80));transform: translate(rem(80),rem(-80));}
}
@-webkit-keyframes cou_img{
    0%{background-image: url(../images/j_ani_img1.png);}
    20%{background-image: url(../images/j_ani_img2.png);}
    40%{background-image: url(../images/j_ani_img3.png);}
    60%{background-image: url(../images/j_ani_img4.png);}
    80%{background-image: url(../images/j_ani_img5.png);}
    100%{background-image: url(../images/j_ani_img6.png);}
}
@keyframes cou_img{
    0%{background-image: url(../images/j_ani_img1.png);}
    20%{background-image: url(../images/j_ani_img2.png);}
    40%{background-image: url(../images/j_ani_img3.png);}
    60%{background-image: url(../images/j_ani_img4.png);}
    80%{background-image: url(../images/j_ani_img5.png);}
    100%{background-image: url(../images/j_ani_img6.png);}
}
@-webkit-keyframes cou_img2{
    0%{background-image: url(../images/j_ani_img1.png);}
    20%{background-image: url(../images/j_ani_img2.png);}
    40%{background-image: url(../images/j_ani_img3.png);}
    60%{background-image: url(../images/j_ani_img4.png);}
    80%{background-image: url(../images/j_ani_img5.png);}
    100%{background-image: url(../images/j_ani_img5.png);}
}
@keyframes cou_img2{
    0%{background-image: url(../images/j_ani_img1.png);}
    20%{background-image: url(../images/j_ani_img2.png);}
    40%{background-image: url(../images/j_ani_img3.png);}
    60%{background-image: url(../images/j_ani_img4.png);}
    80%{background-image: url(../images/j_ani_img5.png);}
    100%{background-image: url(../images/j_ani_img5.png);}
}
@-webkit-keyframes t_hand{
    0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}
    50%{-webkit-transform:translateY(rem(25));transform:translateY(rem(25))}
}
@keyframes t_hand{
    0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}
    50%{-webkit-transform:translateY(rem(25));transform:translateY(rem(25))}
}
@-webkit-keyframes t_treas{
    0%{-webkit-transform: rotate(0);transform: rotate(0);}
    15%{-webkit-transform:rotate(0);transform:rotate(0)}
    30%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
    45%{-webkit-transform:rotate(0);transform:rotate(0)}
    60%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}
    75%{-webkit-transform:rotate(0);transform:rotate(0)}
    100%{-webkit-transform:rotate(0);transform:rotate(0)}
}
@keyframes t_treas{
    0%{-webkit-transform: rotate(0);transform: rotate(0);}
    15%{-webkit-transform:rotate(0);transform:rotate(0)}
    30%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
    45%{-webkit-transform:rotate(0);transform:rotate(0)}
    60%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}
    75%{-webkit-transform:rotate(0);transform:rotate(0)}
    100%{-webkit-transform:rotate(0);transform:rotate(0)}
}
@-webkit-keyframes t_t_ani{
    0%{background-image: url(../images/t_ani_img1.png);}
    20%{background-image: url(../images/t_ani_img2.png);}
    40%{background-image: url(../images/t_ani_img3.png);}
    60%{background-image: url(../images/t_ani_img4.png);}
    80%{background-image: url(../images/t_ani_img5.png);}
    100%{background-image: url(../images/t_ani_img6.png);}
}
@keyframes t_t_ani{
    0%{background-image: url(../images/t_ani_img1.png);}
    20%{background-image: url(../images/t_ani_img2.png);}
    40%{background-image: url(../images/t_ani_img3.png);}
    60%{background-image: url(../images/t_ani_img4.png);}
    80%{background-image: url(../images/t_ani_img5.png);}
    100%{background-image: url(../images/t_ani_img6.png);}
}
@-webkit-keyframes t_y_ani{
    0%{background-image: url(../images/y_ani_img1.png);}
    20%{background-image: url(../images/y_ani_img2.png);}
    40%{background-image: url(../images/y_ani_img3.png);}
    60%{background-image: url(../images/y_ani_img4.png);}
    80%{background-image: url(../images/y_ani_img5.png);}
    100%{background-image: url(../images/y_ani_img6.png);}
}
@keyframes t_y_ani{
    0%{background-image: url(../images/y_ani_img1.png);}
    20%{background-image: url(../images/y_ani_img2.png);}
    40%{background-image: url(../images/y_ani_img3.png);}
    60%{background-image: url(../images/y_ani_img4.png);}
    80%{background-image: url(../images/y_ani_img5.png);}
    100%{background-image: url(../images/y_ani_img6.png);}
}
@-webkit-keyframes t_j_ani{
    0%{background-image: url(../images/j_ani_img1.png);}
    20%{background-image: url(../images/j_ani_img2.png);}
    40%{background-image: url(../images/j_ani_img3.png);}
    60%{background-image: url(../images/j_ani_img4.png);}
    80%{background-image: url(../images/j_ani_img5.png);}
    100%{background-image: url(../images/j_ani_img6.png);}
}
@keyframes t_j_ani{
    0%{background-image: url(../images/j_ani_img1.png);}
    20%{background-image: url(../images/j_ani_img2.png);}
    40%{background-image: url(../images/j_ani_img3.png);}
    60%{background-image: url(../images/j_ani_img4.png);}
    80%{background-image: url(../images/j_ani_img5.png);}
    100%{background-image: url(../images/j_ani_img6.png);}
}