.ani_icon {
  background: url(../images/icon.png) no-repeat;
  background-size: 3.4rem 1.125rem; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.hidden {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  background: rgba(0, 0, 0, 0.7); }
  .wrapper .w_in {
    width: 17.65rem;
    height: 24.025rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
    background: url(../images/w_bg2.png) no-repeat;
    background-size: 17.65rem 24.025rem; }
    .wrapper .w_in .w_close_btn {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: 50%;
      bottom: -2.15rem;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      background: url(../images/w_close_btn.png) no-repeat;
      background-size: 1.5rem 1.5rem;
      text-indent: -9999px; }
    .wrapper .w_in .w_r_btn {
      display: block;
      width: 1.05rem;
      height: 3.925rem;
      background: url(../images/r_bg.png) no-repeat;
      background-size: 1.05rem 3.925rem;
      text-align: center;
      font-size: 0.55rem;
      line-height: 0.65rem;
      color: #ffe2d3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 6.05rem; }
      .wrapper .w_in .w_r_btn i {
        display: block;
        width: 1.05rem; }
      .wrapper .w_in .w_r_btn span {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background: url(../images/r_icon.png) no-repeat;
        background-size: 0.5rem 0.5rem;
        vertical-align: top;
        margin: 0.25rem auto 0; }
    .wrapper .w_in .w_mian_t {
      display: block;
      width: 13.975rem;
      height: 4.3rem;
      margin: 4.25rem auto 0;
      background: url(../images/w_t1.png) no-repeat;
      background-size: 13.975rem 4.3rem;
      text-indent: -9999px;
      -webkit-animation: main_t 1.2s infinite;
      animation: main_t 1.2s infinite; }
@-webkit-keyframes main_t {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); } }
@keyframes main_t {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); } }
    .wrapper .w_in .pm_box {
      width: 15.55rem;
      height: 0.875rem;
      margin: 0.25rem auto 0;
      background: url(../images/pm_bg.png) no-repeat;
      background-size: 15.55rem 0.875rem; }
      .wrapper .w_in .pm_box .pm_in {
        width: 11.7rem;
        height: 0.85rem;
        line-height: 0.85rem;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden; }
        .wrapper .w_in .pm_box .pm_in span {
          font-size: 0.6rem;
          color: #ffe8d2;
          line-height: 0.85rem;
          padding: 0 0.5rem; }
    .wrapper .w_in .w_jf_rw {
      width: 15.775rem;
      margin: 0 auto;
      position: relative; }
    .wrapper .w_in .w_jf {
      width: 14.5rem;
      height: 4.9rem;
      margin: 0.25rem auto 0;
      background: url(../images/jf_bg.png) no-repeat;
      background-size: 14.5rem 4.9rem;
      overflow: hidden;
      position: relative; }
    .wrapper .w_in .w_my_jf {
      width: 9.5rem;
      height: 0.75rem;
      margin: 0.5rem 0 0 0.35rem; }
      .wrapper .w_in .w_my_jf .w_jf_icon {
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        background: url(../images/jf_icon.png) no-repeat;
        background-size: 0.75rem 0.75rem;
        float: left; }
      .wrapper .w_in .w_my_jf .w_jf_t {
        display: block;
        font-size: 0.7rem;
        line-height: 0.75rem;
        color: #f25d0f;
        float: left;
        padding: 0 0.375rem 0 0.275rem;
        position: relative; }
        .wrapper .w_in .w_my_jf .w_jf_t:after {
          content: '';
          width: 0.1rem;
          height: 0.6rem;
          border-radius: 1px;
          background: #ffdbc8;
          position: absolute;
          right: 0;
          top: 0.075rem; }
      .wrapper .w_in .w_my_jf .w_jf_num {
        font-size: 0.8rem;
        color: #f25d0f;
        line-height: 0.75rem;
        padding: 0 0 0 0.25rem;
        float: left;
        overflow: hidden; }
        .wrapper .w_in .w_my_jf .w_jf_num span {
          display: block;
          width: 100%;
          height: 0.75rem; }
    .wrapper .w_in .w_my_gif {
      display: block;
      width: 4.2rem;
      height: 1.2rem;
      background: url(../images/my_gif.png) no-repeat;
      background-size: 4.2rem 1.2rem;
      font-size: 0.55rem;
      line-height: 1.2rem;
      color: #ffffff;
      text-indent: 1.3rem;
      position: absolute;
      top: 0.325rem;
      right: 0.325rem; }
    .wrapper .w_in .p_bar {
      width: 11.75rem;
      height: 0.275rem;
      background: #ffcbac;
      border-radius: 0.125rem;
      margin: 1.125rem auto 0;
      position: relative; }
    .wrapper .w_in .p_bar_in {
      width: 1.325rem;
      height: 1.325rem;
      background: url(../images/p_noget.png) no-repeat;
      background-size: 1.325rem 1.325rem;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin: 0.125rem 0 0 0.125rem;
      padding: 1px 0 0 0;
      z-index: 20; }
      .wrapper .w_in .p_bar_in .p_bar_tj {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.45rem;
        color: #ffffff;
        line-height: 0.6rem;
        margin: 0.35rem auto 0; }
      .wrapper .w_in .p_bar_in .p_no_btn {
        display: block;
        width: 2.25rem;
        height: 1rem;
        border-radius: 0.5rem;
        background: #ffcbac;
        font-size: 0.55rem;
        color: #ffffff;
        line-height: 1.1rem;
        text-align: center;
        position: absolute;
        bottom: -1.275rem;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
      .wrapper .w_in .p_bar_in2 {
        left: 2.75rem; }
      .wrapper .w_in .p_bar_in3 {
        left: 5.8rem; }
      .wrapper .w_in .p_bar_in4 {
        left: 8.65rem; }
      .wrapper .w_in .p_bar_in5 {
        left: 11.625rem; }
      .wrapper .w_in .p_bar_in.p_over {
        width: 1.325rem;
        height: 1.325rem;
        background: url(../images/p_over.png) no-repeat;
        background-size: 1.325rem 1.325rem; }
      .wrapper .w_in .p_bar_in.p_now {
        width: 1.6rem;
        height: 1.575rem;
        background: url(../images/p_now.png) no-repeat;
        background-size: 1.6rem 1.6rem; }
        .wrapper .w_in .p_bar_in.p_now .p_no_btn {
          bottom: -1.125rem;
          width: 2.25rem;
          height: 1rem;
          background: url(../images/p_cj_btn.png) no-repeat;
          background-size: 2.25rem 1rem; }
        .wrapper .w_in .p_bar_in.p_now .p_bar_tj {
          margin: 0.45rem auto 0; }
    .wrapper .w_in .p_bar_wp {
      width: 100%;
      height: 100%;
      border-radius: 0.125rem; }
    .wrapper .w_in .p_bar_t {
      display: block;
      height: 0.275rem;
      background: #ff7d15;
      border-radius: 0.125rem;
      position: relative; }
      .wrapper .w_in .p_bar_t i {
        display: block;
        width: 0.55rem;
        height: 0.55rem;
        background: url(../images/p_circle.png) no-repeat;
        background-size: 0.55rem 0.55rem;
        position: absolute;
        right: -0.275rem;
        top: -0.125rem; }
    .wrapper .w_in .tsk_t {
      width: 13.75rem;
      height: 0.75rem;
      margin: 0.425rem auto 0;
      font-size: 0.7rem;
      line-height: 0.75rem;
      color: #ffffff; }
      .wrapper .w_in .tsk_t .tsk_icon {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        background: url(../images/task_icon.png) no-repeat;
        background-size: 0.75rem 0.75rem;
        vertical-align: top;
        margin: 0 0.25rem 0 0; }
    .wrapper .w_in .tsk_list {
      width: 14.1rem;
      height: 7.5rem;
      margin: 0.25rem 0 0 1rem;
      overflow: hidden;
      overflow-y: scroll; }
      .wrapper .w_in .tsk_list::-webkit-scrollbar {
        width: 0.2rem;
        height: 0.2rem; }
      .wrapper .w_in .tsk_list::-webkit-scrollbar-button {
        width: 0;
        height: 0; }
      .wrapper .w_in .tsk_list::-webkit-scrollbar-corner {
        display: block; }
      .wrapper .w_in .tsk_list::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-image: -webkit-gradient(linear, left top, right top, from(#fffdfa), to(#ffe1a2));
        background-image: linear-gradient(to right, #fffdfa, #ffe1a2);
        border-radius: 0.1rem; }
      .wrapper .w_in .tsk_list li {
        width: 13.75rem;
        height: 2rem;
        border-radius: 1rem;
        background: #fff;
        overflow: hidden;
        margin: 0 0 0.25rem 0; }
        .wrapper .w_in .tsk_list li .tsk_ja {
          display: block;
          width: 1.8rem;
          height: 1.75rem;
          background: url(../images/tsk_icon1.png) no-repeat;
          background-size: 1.875rem 1.75rem;
          font-size: 0.6rem;
          padding: 0 0 0 0.075rem;
          color: #fff;
          line-height: 0.7rem;
          text-align: center;
          float: left;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0.125rem 0 0 0.15rem; }
          .wrapper .w_in .tsk_list li .tsk_ja2 {
            background: url(../images/tsk_icon2.png) no-repeat;
            background-size: 1.875rem 1.75rem; }
        .wrapper .w_in .tsk_list li .tsk_detail {
          width: 7.5rem;
          height: 2rem;
          float: left;
          margin: 0 0 0 0.4rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .wrapper .w_in .tsk_list li .tsk_detail .tsk_name {
            display: block;
            width: 100%;
            font-size: 0.6rem;
            color: #292929;
            line-height: 0.75rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .wrapper .w_in .tsk_list li .tsk_detail .tsk_des {
            width: 7.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.5rem;
            color: #f56a22;
            line-height: 0.65rem;
            margin: 0.1rem 0 0 0; }
        .wrapper .w_in .tsk_list li .tsk_btn {
          display: block;
          width: 3.5rem;
          height: 1.25rem;
          background: url(../images/tsk_btn_bg.png) no-repeat;
          background-size: 3.5rem 1.25rem;
          text-align: center;
          line-height: 1.25rem;
          font-size: 0.6rem;
          color: #ffffff;
          float: left;
          margin: 0.375rem 0 0 0; }
          .wrapper .w_in .tsk_list li .tsk_btn_over {
            background: url(../images/tsk_over_bg.png) no-repeat;
            background-size: 3.5rem 1.25rem;
            color: #c4c4c4; }
    .wrapper .w_in .tsk_df {
      display: block;
      width: 2.5rem;
      height: 1.25rem;
      text-align: center;
      font-size: 0.6rem;
      line-height: 1.25rem;
      color: #f25d0f;
      position: absolute;
      left: 0;
      top: 0;
      display: none;
      pointer-events: none;
      z-index: 50;
      -webkit-transition: all 1s;
      transition: all 1s; }
    .wrapper .w_in .tsk_hands {
      display: block;
      width: 1.375rem;
      height: 2.375rem;
      background: url(../images/hands.png) no-repeat;
      background-size: 1.375rem 2.375rem;
      position: absolute;
      top: 7rem;
      left: 12.5rem;
      opacity: 0;
      pointer-events: none;
      -webkit-animation: hands 3s infinite;
      animation: hands 3s infinite; }
    .wrapper .w_in .cz_flot {
      width: 9.775rem;
      height: 2rem;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 0.55rem;
      color: #ffffff;
      background: url(../images/cz_flot.png) no-repeat;
      background-size: 9.775rem 2rem;
      position: absolute;
      left: 50%;
      top: 1.9rem;
      margin: 0 0 0 -4.875rem;
      z-index: 50;
      pointer-events: none; }
      .wrapper .w_in .cz_flot2 {
        background: url(../images/cz_flot_fzl.png) no-repeat;
        background-size: 9.775rem 2rem; }
    .wrapper .w_in .fini_wp {
      width: 14.5rem;
      height: 8.175rem;
      background: url(../images/fw_bg1.png) no-repeat;
      background-size: 14.5rem 8.175rem;
      margin: 0.375rem auto 0;
      overflow: hidden; }
      .wrapper .w_in .fini_wp .fini_con {
        display: block;
        font-size: 0.7rem;
        color: #f27801;
        line-height: 0.85rem;
        text-align: center;
        margin: 0.6rem auto 0;
        font-weight: normal; }
      .wrapper .w_in .fini_wp .fini_tips {
        font-size: 0.6rem;
        line-height: 0.75rem;
        color: #943900;
        text-align: center;
        margin: 0.15rem auto 0; }
      .wrapper .w_in .fini_wp .fini_btn {
        display: block;
        width: 9rem;
        height: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
        font-size: 0.6rem;
        color: #f2f2f2;
        background: #a3a3a3;
        border-radius: 0.75rem;
        margin: 2.95rem auto 0; }
        .wrapper .w_in .fini_wp .fini_btn a {
          color: #f2f2f2; }
      .wrapper .w_in .fini_wp .count_time {
        width: 10rem; }
        .wrapper .w_in .fini_wp .count_time span {
          color: #f01f11; }
      .wrapper .w_in .fini_wp .fini_gz {
        font-size: 0.5rem;
        color: #834f14;
        text-align: center;
        line-height: 0.7rem;
        margin: 0.4rem auto 0; }
        .wrapper .w_in .fini_wp .fini_gz a {
          color: #834f14; }
        .wrapper .w_in .fini_wp .fini_gz span {
          display: inline-block;
          width: 0.5rem;
          height: 0.525rem;
          vertical-align: middle;
          background: url(../images/fini_gz_icon.png) no-repeat;
          background-size: 0.5rem 0.525rem;
          margin: 0 0 0 0.4rem; }
    .wrapper .w_in .fini_wp2 {
      background: url(../images/fw_bg2.png) no-repeat;
      background-size: 14.5rem 8.175rem; }
      .wrapper .w_in .fini_wp2 .fini_btn {
        background: url(../images/fin_cj_btn.png) no-repeat;
        background-size: 9rem 1.5rem;
        color: #ffffff; }
    .wrapper .w_in .fini_wp3 {
      background: url(../images/fw_bg3.png) no-repeat;
      background-size: 14.5rem 8.175rem; }
    .wrapper .w_in .fini_wp4 {
      background: url(../images/fw_bg4.png) no-repeat;
      background-size: 14.5rem 8.175rem; }
  .wrapper .my_jp_in {
    width: 17.65rem;
    height: 24.025rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    background: url(../images/w_bg2.png) no-repeat;
    background-size: 17.65rem 24.025rem; }
    .wrapper .my_jp_in .my_t {
      display: block;
      font-size: 0.85rem;
      color: #ffffff;
      font-weight: bold;
      line-height: 1.05rem;
      margin: 5.55rem auto 0;
      text-align: center; }
    .wrapper .my_jp_in .my_list {
      width: 15rem;
      height: 13.5rem;
      margin: 0.625rem auto 0; }
      .wrapper .my_jp_in .my_list li {
        width: 14.5rem;
        height: 2.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 1.25rem; }
        .wrapper .my_jp_in .my_list li .tsk_btn {
          margin: 0 0 0 0; }
    .wrapper .my_jp_in .my_qu_igbox {
      width: 2.25rem;
      height: 2.25rem;
      float: left;
      border-radius: 50%;
      overflow: hidden;
      background: #e5e5e5;
      margin: 0 0 0 0.15rem; }
      .wrapper .my_jp_in .my_qu_igbox .my_qu_img {
        display: block;
        width: 100%;
        height: 100%; }
    .wrapper .my_jp_in .my_all {
      font-size: 0.5rem;
      color: #834f14;
      line-height: 0.7rem;
      text-align: center;
      margin: 1rem auto 0; }
      .wrapper .my_jp_in .my_all a {
        color: #180f05; }
    .wrapper .my_jp_in .w_back {
      display: block;
      width: 2.35rem;
      height: 0.75rem;
      background: url(../images/back_btn.png) no-repeat;
      background-size: 2.35rem 0.75rem;
      text-indent: -9999px;
      position: absolute;
      bottom: -1.7rem;
      left: 50%;
      margin: 0 0 0 -1.175rem; }
  .wrapper .act_r_box {
    width: 14.5rem;
    height: 16.175rem;
    margin: 0.7rem auto 0;
    background: url(../images/act_r_bg.png);
    background-size: 14.5rem 16.175rem;
    overflow: hidden; }
  .wrapper .act_r_list {
    width: 12.2rem;
    height: 14.5rem;
    margin: 0.9rem auto 0;
    overflow: hidden;
    overflow-y: auto; }
    .wrapper .act_r_list li {
      font-size: 0.55rem;
      color: #834f14;
      line-height: 0.75rem;
      margin: 0 0 0.85rem 0; }
      .wrapper .act_r_list li:last-child {
        margin: 0 0 0 0; }
  .wrapper .yc_wp {
    width: 14.5rem;
    height: 8.175rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../images/w_bg3.png) no-repeat;
    background-size: 14.5rem 8.175rem; }
    .wrapper .yc_wp .yc_close {
      display: block;
      text-align: center;
      line-height: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      color: #000;
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0 0 0 -0.75rem;
      filter: grayscale(100); }
      .wrapper .yc_wp .yc_close2 {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background: url(../images/yc_close.png) no-repeat;
        background-size: 1.5rem 1.5rem;
        text-indent: -9999px;
        position: absolute;
        bottom: -2.75rem;
        right: 50%;
        margin: 0 -0.75rem 0 0; }
    .wrapper .yc_wp .yc_t {
      display: block;
      font-size: 0.7rem;
      line-height: 0.85rem;
      text-align: center;
      margin: 0.9rem auto 0;
      color: #f27801;
      font-weight: normal; }
    .wrapper .yc_wp .yc_icon {
      display: block;
      width: 3.05rem;
      height: 3.05rem;
      margin: 0.25rem auto 0;
      background: url(../images/yc_icon.png) no-repeat;
      background-size: 3.05rem 3.05rem; }
    .wrapper .yc_wp .yc_btn {
      display: block;
      width: 9rem;
      height: 1.5rem;
      margin: 0.75rem auto 0;
      text-align: center;
      line-height: 1.5rem;
      font-size: 0.6rem;
      color: #ffffff;
      background: url(../images/fin_cj_btn.png) no-repeat;
      background-size: 9rem 1.5rem; }
  .wrapper .code_wp {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0.75rem auto 0; }
    .wrapper .code_wp .code_img {
      display: block;
      width: 100%;
      height: 100%; }
  .wrapper .code_para {
    width: 100%;
    font-size: 0.7rem;
    color: #f27801;
    text-align: center;
    line-height: 0.85rem;
    margin: 0.375rem auto 0; }
  .wrapper .gz_wpc {
    width: 10rem;
    background: url(../images/w_bg3.png) no-repeat;
    background-size: 10rem 8.175rem; }

@-webkit-keyframes hands {
  0% {
    -webkit-transform: translate(3rem, 0);
    transform: translate(3rem, 0);
    opacity: 1; }
  15% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  16% {
    background: url(../images/hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    background: url(../images/click_hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  30% {
    background: url(../images/hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  35%,100% {
    background: url(../images/hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes hands {
  0% {
    -webkit-transform: translate(3rem, 0);
    transform: translate(3rem, 0);
    opacity: 1; }
  15% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  16% {
    background: url(../images/hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  25% {
    background: url(../images/click_hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  30% {
    background: url(../images/hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  35%,100% {
    background: url(../images/hands.png) no-repeat;
    background-size: 1.375rem 2.375rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
/* .flot_ani{*/
/*     animation:flot 0.5s 1 both;*/
/* }*/
/* @keyframes flot{*/
/*     0%{*/
/*         transform:scale(1,1);*/
/*         right:50%;*/
/*         top:rem(76);*/
/*         margin: 0 rem(-195) 0 0;*/
/*         opacity:1;*/
/*     }*/
/*     70%{*/
/*         transform:scale(0.43,0.6);*/
/*         right:rem(13);*/
/*         top:rem(13);*/
/*         margin: 0 0 0 0;*/
/*         opacity:1;*/
/*     }*/
/*     100%{*/
/*         transform:scale(0.43,0.6);*/
/*         right:rem(13);*/
/*         top:rem(13);*/
/*         margin: 0 0 0 0;*/
/*         opacity:0;*/
/*     }*/
/* }*/

/*# sourceMappingURL=style.css.map */
