/*活动整体背景图*/
.wm-section{ background-size: 100% 42.75rem !important; height: 42.75rem;}
/*所有按钮雪碧图*/
.wm-spr {	
	background-size: 6.36rem 5.94rem !important;
}
/*头部单按钮*/
.wm-header .btn-box a {
	margin: 0 .32rem;
	font-size: .30rem;
	line-height: .7rem;
	font-weight: bold;
	width: 2.35rem;
	height: 0.76rem; 
}
.wm-spr.h-spr-btn1 {
	background-position: 0rem -3.46rem;
}
.wm-spr.h-spr-btn2 {
	background-position: 0rem -4.50rem;
}
.wm-spr.h-spr-btn3 {
	width: 2.02rem; height: 0.69rem;
	background-position: -0.1rem -4.33rem;
}
/*玩法标题*/			
.wm-section .wm-title {
	font-size: 0;
	text-align: center;
	width: 6.03rem ; 
	height: 0.50rem;
	text-indent: -9999px; 
}
.wm-section .wm-title p {
	display: inline-block;
	color: #ffffff;
	vertical-align: top;
	background: -webkit-linear-gradient(#f5e3a4 10%, #ecc559 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: .20rem;
	font-weight: bold;
	position: relative;
}
.wm-section .wm-title p:after,
.wm-section .wm-title p:before {
	content: '';
	position: absolute;
	top: 50%;
	width: .1rem;
	height: .1rem;
	margin-top: -.04rem;
	background: #e3c77c;
}
.wm-section .wm-mob{
	padding: 0.15rem 0 0 0 !important;
}
			
.wm-section .wm-mob:nth-child(1) .wm-title{
	 background-position: 0 -0.01rem;
	 margin: 0 auto; 
}
.wm-section .wm-mob:nth-child(2) .wm-title{
	 margin: 0.44rem auto 0; 
	 background-position: 0 -0.56rem; 
}
.wm-section .wm-mob:nth-child(3) .wm-title{
	 margin: 0.60rem auto 0; 
	 background-position: 0 -1.11rem;
}
.wm-section .wm-mob:nth-child(4) .wm-title{
	 background-position: 0 -1.63rem; 
	 margin: 0.40rem auto 0; 
}
.wm-section .wm-mob:nth-child(5) .wm-title{
	  width: 6.16rem; 
	  height: 0.52rem; 
	  background-position: 0 -2.18rem; 
	  margin: 0.60rem auto 0; 
}
.wm-section .wm-mob:nth-child(6) .wm-title{
	width: 5.87rem; 
	height: 0.34rem; 
	background-position: 0 -2.73rem; 
	margin: 0.30rem auto 0; 
}
/*tap选框头部的效果*/
.wm-section .wm-nav{	
    height: .61rem !important;
}
.wm-section .wm-nav li {
	-webkit-box-flex: 1;
	box-flex: 1;
	height: .61rem;
	font-size: 0.22rem;
	font-weight: normal;
	position: relative;
	color: #d9e8ff;
    background: #5b6db7;
}
/*tap选框头部选中时的效果*/
.wm-section .wm-nav li.current {
	background: #dbe9ff;
	color: #426ca2;
	position: relative;
	z-index: 30;
}
/*各个玩法的说明文字样式*/
.wm-section .wm-explain {
	width: 7rem;
	margin: .2rem auto .2rem;
	font-size: .20rem;
	line-height: .31rem;
	text-align: center;
	color: #ffffff;
}
/*复选框中文字样式*/
.wm-section .wm-nav li span {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	font-size: .22rem;
	line-height: .61rem;
	white-space: nowrap;
	z-index: 10;
}

/*领取礼包按钮*/
.wm-spr.np-spr-btn1 {
	display: block;
	width: 2.38rem; 
	height: 0.71rem; 
	background-position: -2.78rem -4.50rem;
	margin: 0.10rem auto 0;
	text-indent: -9999px;
}
/*领取礼包置灰*/
.wm-spr.np-spr-btn1.geted{
	background-position: -3.52rem -5.24rem;
}
/*点击抽奖按钮*/
.wm-spr.spr-btn3 {
	width: 1.97rem;
	height: 1.38rem;
	background: none;
	color: #23295f;
}

/*我要分享按钮*/
.wm-spr.spr-btn6 {
	width: 3.34rem; height: 0.45rem;
    background-position: 0rem -5.40rem;
    text-indent: -9999px;
    margin: 0 2.08rem 0 0; 
}
/*我要充值按钮*/
.wm-spr.spr-btn {
	width: 1.37rem; height: 0.38rem;
    background-position: -0.1rem -0.11rem;
	color: #23295f;
}
/*选择大区下拉角标*/
.wm-dia .wm-binding-ul li select {
	display: block;
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	background: #63668c url(//ossweb-img.qq.com/images/chanpin/tgclub/public/vipmb/img/tpfirst/wm-input.jpg) right top no-repeat;
	height: .42rem;
	line-height: .42rem;
	background-size: auto 100%;
	border: none;
	color: #101344;
	font-size: .2rem;
	padding-left: .12rem;
}
/*绑定大区与填写个人信息背景图*/		
.wrapper .wm-dia {
	outline: none;
	border: 2px solid #52ade6;
	display: none;
	background: url(//ossweb-img.qq.com/images/chanpin/tgclub/public/vipmb/img/tpfirst/wm-tcbg.jpg) 50% 0 no-repeat;
	width: 6.2rem;
	background-size: 6.2rem 5.7rem;
}

/*每日抽奖*/
.wm-section .wm-lottery-box li{width: 1.96rem; height: 1.9rem; float: left; margin: 0 .06rem .06rem 0;}
.wm-section .wm-lottery-box li.wm-clottery-li{background: transparent; padding-top: .05rem;}
.wm-section .wm-lottery-box li.wm-clottery-li .wm-surplus{text-align: center; color: #fff; font-size: .2rem; height: .26rem; line-height: .26rem;}
.wm-section .wm-lottery-box li.wm-clottery-li a{display: block; margin-bottom: .1rem; font-size: .38rem; font-weight: bold; line-height:1.16rem; text-align: center; color: #431300;}
.wm-section .wm-lottery-box img{width: 1.96rem;}
.wm-section .wm-lottery-box i{display: block;}
.wm-section .wm-lottery-box p{height: .48rem; line-height: .48rem; color: #fff; font-size: .2rem; text-align: center; background: #1e2454;}

/*新手专服礼包对应的背景图的具体定位*/
/*.npzf-wm-dj{ background-image:url(//game.gtimg.cn/images/tgclub/act/doupo1903/wm-dj.png); background-repeat:no-repeat; background-size:10.46rem 1.21rem;}
.npzf-wm-dj.wm-ddj1{ width:1.13rem; height:1.13rem; background-position:88.21008% 50%;}
.npzf-wm-dj.wm-ddj2{ width:1.13rem; height:1.13rem; background-position:75.66988% 50%;}
.npzf-wm-dj.wm-ddj3{ width:1.13rem; height:1.13rem; background-position:63.12969% 50%;}
.npzf-wm-dj.wm-ddj4{ width:1.13rem; height:1.13rem; background-position:50.5895% 50%;}
.npzf-wm-dj.wm-ddj5{ width:1.13rem; height:1.13rem; background-position:38.0493% 50%;}
.npzf-wm-dj.wm-ddj6{ width:1.13rem; height:1.13rem; background-position:25.50911% 50%;}*/
/*领取礼包按钮*/
/*.wm-spr.npzf-spr-btn1 {
	width: 2.38rem;
	height: 0.71rem;
	background-position: 92.79476% 86.7052%;
	color: #23295f;
	display: block; margin:.36rem auto 0; font-size: .24rem; line-height: .68rem; text-align: center; font-weight: bold;
}*/

/*回归礼包对应的背景图的具体定位*/
/*.cb-wm-dj{ background-image:url(//game.gtimg.cn/images/tgclub/act/doupo1903/wm-dj.png); background-repeat:no-repeat; background-size:10.46rem 1.21rem;}
.cb-wm-dj.wm-ddj1{ width:1.13rem; height:1.13rem; background-position:88.21008% 50%;}
.cb-wm-dj.wm-ddj2{ width:1.13rem; height:1.13rem; background-position:75.66988% 50%;}
.cb-wm-dj.wm-ddj3{ width:1.13rem; height:1.13rem; background-position:63.12969% 50%;}
.cb-wm-dj.wm-ddj4{ width:1.13rem; height:1.13rem; background-position:50.5895% 50%;}
.cb-wm-dj.wm-ddj5{ width:1.13rem; height:1.13rem; background-position:38.0493% 50%;}
.cb-wm-dj.wm-ddj6{ width:1.13rem; height:1.13rem; background-position:25.50911% 50%;}*/
/*领取礼包按钮*/
/*.wm-spr.cb-spr-btn1 {
	width: 2.38rem;
	height: 0.71rem;
	background-position: 92.79476% 86.7052%;
	color: #23295f;
	display: block; margin:.36rem auto 0; font-size: .24rem; line-height: .68rem; text-align: center; font-weight: bold;
}*/

/*领取礼包按钮*/
/*.wm-spr.spri-spr-btn1 {
	width: 2.38rem;
	height: 0.71rem;
	background-position: 92.79476% 86.7052%;
	color: #23295f;
	display: block; margin:.36rem auto 0; font-size: .24rem; line-height: .68rem; text-align: center; font-weight: bold;
}*/

/*每日签到对应的背景图的具体定位*/
/*.ds-wm-dj{ background-image:url(//game.gtimg.cn/images/tgclub/act/doupo1903/wm-dj.png); background-repeat:no-repeat; background-size:10.46rem 1.21rem;}
.ds-wm-dj.wm-ddj1{ width:1.13rem; height:1.13rem; background-position:88.21008% 50%;}
.ds-wm-dj.wm-ddj2{ width:1.13rem; height:1.13rem; background-position:75.66988% 50%;}
.ds-wm-dj.wm-ddj3{ width:1.13rem; height:1.13rem; background-position:63.12969% 50%;}
.ds-wm-dj.wm-ddj4{ width:1.13rem; height:1.13rem; background-position:50.5895% 50%;}
.ds-wm-dj.wm-ddj5{ width:1.13rem; height:1.13rem; background-position:38.0493% 50%;}
.ds-wm-dj.wm-ddj6{ width:1.13rem; height:1.13rem; background-position:25.50911% 50%;}
.ds-wm-dj.wm-ddj7{ width:1.13rem; height:1.13rem; background-position:25.50911% 50%;}*/
/*领取礼包按钮*/
/*.wm-spr.ds-spr-btn1 {
	width: 2.38rem;
	height: 0.71rem;
	background-position: 92.79476% 86.7052%;
	color: #23295f;
	display: block; margin:.36rem auto 0; font-size: .24rem; line-height: .68rem; text-align: center; font-weight: bold;
}*/
/*每日签到第几天标签背景图定位*/
.wm-spr.spr-day-daily {
	width: 0.75rem; height: 0.49rem;
    background-position: -0.1rem -1.86rem;
}
/*已领取标签*/
.wm-spr.ds-spr-receive {
	width: 0.75rem;
	height: 0.49rem;
	background-position: 45.73269% 96.41026%;
}

/*七天签到对应的背景图的具体定位*/
.ss-wm-dj{ background-image:url(//ossweb-img.qq.com/images/chanpin/tgclub/public/vipmb/img/tpfirst/wm-dj.png); background-repeat:no-repeat; background-size:10.46rem 1.21rem;}
.ss-wm-dj.wm-ddj1{ width:1.13rem; height:1.13rem; background-position:88.21008% 50%;}
.ss-wm-dj.wm-ddj2{ width:1.13rem; height:1.13rem; background-position:75.66988% 50%;}
.ss-wm-dj.wm-ddj3{ width:1.13rem; height:1.13rem; background-position:63.12969% 50%;}
.ss-wm-dj.wm-ddj4{ width:1.13rem; height:1.13rem; background-position:50.5895% 50%;}
.ss-wm-dj.wm-ddj5{ width:1.13rem; height:1.13rem; background-position:38.0493% 50%;}
.ss-wm-dj.wm-ddj6{ width:1.13rem; height:1.13rem; background-position:25.50911% 50%;}
.ss-wm-dj.wm-ddj7{ width:1.13rem; height:1.13rem; background-position:25.50911% 50%;}
/*领取礼包按钮*/
.wm-spr.ss-spr-btn1 {
	width: 2.38rem;
	height: 0.71rem;
	background-position: 92.79476% 86.7052%;
	color: #23295f;
	display: block; margin:.36rem auto 0; font-size: .24rem; line-height: .68rem; text-align: center; font-weight: bold;
}
/*七天签到第几天背景图定位*/
.wm-spr.spr-day-seven {
	width: 0.83rem;
	height: 0.24rem;
	background-position: 19.73899% 90.90909%;
}
/*已领取标签*/
.wm-spr.ss-spr-receive {
	width: 0.75rem;
	height: 0.49rem;
	background-position: 45.73269% 96.41026%;
}

/*专属兑换对应的背景图的具体定位*/
.ex-wm-dj{ background-image:url(//ossweb-img.qq.com/images/chanpin/tgclub/public/vipmb/img/tpfirst/dj-spr.png); background-repeat:no-repeat; background-size:1.48rem 8.2rem;}
.ex-wm-dj.wm-ddj1{ width:1.28rem; height:1.44rem; background-position:-0.1rem -0.1rem;}
.ex-wm-dj.wm-ddj2{ width:1.28rem; height:1.44rem; background-position:-0.1rem -1.74rem;}
.ex-wm-dj.wm-ddj3{ width:1.28rem; height:1.44rem; background-position:-0.1rem -3.38rem;}
.ex-wm-dj.wm-ddj4{ width:1.28rem; height:1.44rem; background-position:-0.1rem -5.02rem;}
.ex-wm-dj.wm-ddj5{ width:1.28rem; height:1.44rem; background-position:-0.1rem -6.66rem;}
/*领取礼包按钮*/
.wm-section .wm-exchange .ex-spr-btn2{display: block; margin: 0 auto; color: #431300; font-size: .18rem; line-height: .36rem; font-weight: bold;
	width: 1.13rem;
	height: 0.4rem;
	background-position: 0.68611% 98.03922%;
	color: #23295f;
}

/*充值豪礼对应的背景图的具体定位*/
/*隐藏抽奖次数*/

h4.wm-surplus{
	color: #0e3b81; text-align: center;
	margin: 0.06rem auto;
}

.wm-section .wm-recharge{	
	width: 7.30rem; 
	height: 6.10rem;
	background: url(https://game.gtimg.cn/images/tgclub/chanpin/public/vipmb/img/20190312dpcq/c_tabin_bg.png) no-repeat;
	background-size: 7.30rem 6.10rem;
}
/*每个礼包的小标题*/
.wm-section .wm-recharge h4 {
	width: 1.40rem;
	line-height: .40rem;
	color: #426ca2;
	padding-top: .7rem;
	font-size: .22rem;
	font-weight: bold;
	position: relative;
	height: 1.96rem;
}
/*领取礼包按钮*/
.wm-section .wm-recharge .rec-spr-btn2{
	display: block; 
	width: 1.13rem; 
	height: 0.40rem; 
	background-position: -3.72rem -3.46rem;
}
/*充值豪礼置灰*/
.wm-section .wm-recharge .rec-spr-btn2.geted{
	background-position: -5.04rem -3.46rem;
}
/*充值数与礼包分割线*/
/*.wm-spr.spr-interval {
	width: 0.02rem;
	height: 1.57rem;
	background-position: 99.42363% 88.50575%;
}*/

/*游戏介绍轮播图边框设置*/
.wm-section ul.wm-carousel-ul li{ border: 2px solid #52ade6;}

/*活动规则介绍背景图及边框设置*/
.wm-section .wm-rule{ padding: 0rem .2rem .1rem; text-align: justify; margin-top: .25rem;}
.wm-section .wm-rule li{font-size: .22rem; color: #fff; line-height: .30rem; padding-left: .28rem; position: relative; padding-bottom: .13rem;}
.wm-section .wm-rule span{position: absolute; left: 0; top: 0;}


.wm-dj.wm-ddj1{ width:1.13rem; height:1.13rem; background-position:88.21008% 50%;}
.wm-dj.wm-ddj2{ width:1.13rem; height:1.13rem; background-position:75.66988% 50%;}
.wm-dj.wm-ddj3{ width:1.13rem; height:1.13rem; background-position:63.12969% 50%;}
.wm-dj.wm-ddj4{ width:1.13rem; height:1.13rem; background-position:50.5895% 50%;}
.wm-dj.wm-ddj5{ width:1.13rem; height:1.13rem; background-position:38.0493% 50%;}
.wm-dj.wm-ddj6{ width:1.13rem; height:1.13rem; background-position:25.50911% 50%;}
.wm-dj.wm-ddj7{ width:1.13rem; height:1.13rem; background-position:12.96892% 50%;}
.wm-dj.wm-ddj8{ width:1.13rem; height:1.13rem; background-position:0.42872% 50%;}


.wm-dj.wm-xdj1{ width:0.49rem; height:0.49rem; background-position:94.28285% 79.16667%;}
.wm-dj.wm-xdj2{ width:0.49rem; height:0.49rem; background-position:99.5988% 5.55556%;}
.wm-dj.wm-xdj3{ width:0.49rem; height:0.49rem; background-position:94.28285% 5.55556%;}

.wm-dj{ background-image:url(//ossweb-img.qq.com/images/chanpin/tgclub/public/vipmb/img/tpfirst/wm-dj.png); background-repeat:no-repeat; background-size:10.46rem 1.21rem;}

.wm-spr.spr-btn1 {
	width: 1.13rem; height: 0.4rem;
    background-position: -0.1rem -1.26rem;
	color: #23295f;
}

.wm-spr.spr-btn2 {
	width: 1.13rem;
	height: 0.4rem;
	background-position: 0.68611% 98.03922%;
	color: #23295f;
}

.wm-spr.spr-btn4 {
	width: 2.01rem;
	height: 0.69rem;
	background-position: 97.9798% 44%;
	color: #23295f;
}

/*绑定大区*/
.wm-spr.spr-btn7 {
	width: 0.39rem;
	height: 0.39rem;
	background-color: #E9D188;
}
/*底部免责声明*/
footer {
    display: block;
    width: 100%;
    padding: .3rem 0;
    background-color: black;
    font-size: .29rem;
    color: #fff;
    text-align: center;
    line-height: 1.2;
}



/*  |xGv00|aefcf94ca9e3b27fccd7eb79d6becfcc */