@function rem($px) {
    @if $px == 0 {
        @return 0;
    }
    @if $px <=2 and $px > 0 {
        @return 1px;
    }
    @else {
        @return $px / ($px * 0 + 1) / 40 * 1rem;
    }
}
@font-face{font-family: 'fz';font-style: normal;font-weight: normal; /*设置默认样式*/
    src:url('images/fzbjt.ttf');
}
$img:'../images';
.ani_icon{background: url(../images/icon.png) no-repeat; background-size: rem(136) rem(45);}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.font_fa{ font-family: 'fz';}
.hidden{
    display:block;
    width:0;
    height:0;
    overflow:hidden;
}
.wrapper{
    width: 100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index: 300;
    background:rgba(0,0,0,0.7);
    .w_logo{
        display:block;
        width:rem(95);
        height:rem(95);
        position:absolute;
        left:rem(21);
        top:rem(21);
        img{
            display:block;
            width:100%;
            height:100%;
        }
    }
    .w_rule_btn{
        display:block;
        width:rem(118);
        height:rem(40);
        border-radius:rem(20);
        background-color:#fbe7b2;
        font-size:rem(26);
        line-heihgt:rem(38);
        color:#d32d25;
        position:absolute;
        right:rem(-19);
        top:rem(21);
        text-indent:rem(26);
    }
    .w_close_btn{
        display:block;
        width:rem(52);
        height:rem(52);
        background:url(#{$img}/close_btn.png) no-repeat;
        background-size:rem(52) rem(52);
        text-indent:rem(-9999);
        position: absolute;
        top:rem(156);
        right:rem(24);
    }
    .wrap_in{
        width:rem(675);
        height:rem(813);
        background:url(#{$img}/w_bg1.png) no-repeat;
        background-size:rem(675) rem(813);
        position:absolute;
        left:50%;
        top:rem(215);
        margin:0 0 0 rem(-337.5);
        overflow:hidden;
        .w_open_btn{
            display:block;
            width:rem(145);
            height:rem(145);
            text-indent:rem(-9999);
            background:url(#{$img}/open_btn.png) no-repeat;
            background-size:rem(145) rem(145);
            margin:rem(226) auto 0;
        }
        .w_share_para{
            font-size:rem(32);
            line-height:rem(38);
            color:#ffffff;
            text-align:center;
            margin:rem(101) auto 0;;
        }
        .w_yq{
            font-size:rem(20);
            color:#fece7c;
            text-align:center;
            line-height:rem(26);
            margin:rem(58) auto 0;
        }
        .w_join{
            display:block;
            width:rem(368);
            height:rem(62);
            font-size:rem(30);
            text-align:center;
            line-height:rem(60);
            color:#e1220f;
            background:url(#{$img}/join_btn.png) no-repeat;
            background-size:rem(368) rem(62);
            margin:rem(20) auto 0;
            span{
                display:inline-block;
                padding:0 0 0 0.08rem;
                vertical-align:center;
            }
        }
    }
    .w_s_para{
        width:rem(625);
        height:rem(154);
        background:url(#{$img}/share_para.png) no-repeat;
        background-size:rem(625) rem(154);
        text-indent:-9999px;
        position:absolute;
        left:50%;
        top:rem(280);
        margin: 0 0 0 rem(-312.5);
    }
    .w_s_jt{
        display:block;
        width:rem(91);
        height:rem(108);
        background:url(#{$img}/share_jt.png) no-repeat;
        background-size:rem(91) rem(108);
        text-indent:-9999px;
        position: absolute;
        top:rem(134);
        right:rem(85);
        -webkit-animation:ws_jt 0.6s infinite;
                animation:ws_jt 0.6s infinite;
    }
    .rule_in{
        width:rem(536);
        height:rem(647);
        position:absolute;
        left:50%;
        top:50%;
        margin:rem(-323.5) 0 0 rem(-268);
        background:url(#{$img}/rule_bg.png) no-repeat;
        background-size:rem(536) rem(647);
    }
    .r_tit{
        display:block;
        text-align:center;
        font-size:rem(35);
        color:#e01820;
        font-weight:normal;
        text-shadow:#fff8e6 0 1px 0;
        line-height:rem(64);
    }
    .r_close{
        display:block;
        width:rem(52);
        height:rem(52);
        background:url(#{$img}/close_btn.png) no-repeat;
        background-size:rem(52) rem(52);
        text-indent:-9999px;
        position:absolute;
        top:rem(-47);
        right:rem(24);
    }
    .rule_list{
        width:rem(460);
        height:rem(480);
        margin:rem(46) auto 0;
        overflow:hidden;
        overflow-y:auto;
        li{
            width:rem(430);
            font-size:rem(28);
            line-height:rem(40);
            color:#fff2d4;
            text-indent:rem(-30);
            margin: 0 0 rem(10) rem(30);
            .r_seri{
                display:inline-block;
                width:rem(30);
                text-indent:0;
            }
        }
    }
    .hb_w{
        position:absolute;
        width:100%;
        height:rem(1070);
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .hb_light{
        display:block;
        width:rem(547);
        height:rem(457);
        background:url(#{$img}/light.png) no-repeat;
        background-size:rem(547) rem(457);
        position:absolute;
        left:50%;
        top:0;
        transform:translate(-50%,0);
    }
    .hb_coin{
        display:block;
        width:rem(118);
        height:rem(123);
        background:url(#{$img}/coin.png) no-repeat;
        background-size:rem(118) rem(123);
        position:absolute;
        left:0;
        top:50%;
    }
    .hb_coin2{
        display:block;
        width:rem(84);
        height:rem(94);
        background:url(#{$img}/coin2.png) no-repeat;
        background-size:rem(84) rem(94); 
        position:absolute;
        right:0;
        top:rem(263);
    }
    .hb_t{
        display:block;
        width:rem(613);
        height:rem(149);
        background:url(#{$img}/hb_para.png) no-repeat;
        background-size:rem(613) rem(149);
        text-indent:-9999px;
        position:absolute;
        left:50%;
        top:rem(0);
        margin:0 0 0 rem(-306.5);
        z-index: 50;
    }
    .hb_close_btn{
        top:rem(98);
    }
    .hb_wrap{
        width:rem(636);
        height:rem(897);
        position:absolute;
        left:50%;
        top:rem(74);
        margin:0 0 0 rem(-318);
        overflow: hidden;
        .swiper-wrapper{
            width: 10000%;
            position:relative;
        }
    }
    .fh_wb{
        width:rem(636);
        height:rem(897);         
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .hb_t2{
        top:rem(-50);
    }
    .fh_wrap{
        width:rem(636);
        height:rem(897);
        overflow: hidden;
    }
    .hb_wrap_in{
        width:rem(636);
        height:rem(897);        
        background:url(#{$img}/hb_bg.png) no-repeat rem(2) rem(72);
        background-size:rem(632) rem(825);
        overflow:hidden;
        position:relative;
        z-index: 70;
        float: left;
    }
    .qu_box{
        width:rem(395);
        height:rem(211);
        background:url(#{$img}/qu_bg.png) no-repeat;
        background-size:rem(395) rem(211);
        margin:rem(145) auto 0;
    }
    .hb_fr{
        font-size:rem(28);
        color:#ffffff;
        line-height:rem(28);
        text-align:center;
    }
    .qu_mon{
        width:rem(350);
        height:rem(113);
        margin:rem(12) auto 0;
        text-align:center;
        border-bottom:#fa412f dashed 1px;
        .qu_dw{
            display:inline-block;
            font-size:rem(41);
            font-weight:bold;
            color:#fa412f;
            line-height:rem(120);
        }
    }
    .qu_num{
        display:inline-block;
        font-size:rem(81);
        color:#fa412f;
        background: -webkit-gradient(linear,left top, right bottom,from(#fc8738), to(#fa412f));
        background: linear-gradient(to right bottom,#fc8738, #fa412f);
        -webkit-background-clip: text;
        color: transparent;
    }
    .qu_para{
        font-size:rem(27);
        font-family:"fz";
        color:#fa412f;
    }
    .qu_tips{
        width:rem(350);
        height:rem(52);
        color:#d82522;
        font-size:rem(27);
        text-align:center;
        line-height:rem(50);
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        margin:0 auto;
    }
    .hb_hg{
        display:block;
        width:rem(271);
        height:rem(57);
        text-align:center;
        font-size:rem(28);
        color:#e1220f;
        line-height:rem(57);
        background:url(#{$img}/join_btn.png) no-repeat;
        background-size:rem(271) rem(57);
        margin:rem(30) auto 0;
        font-weight:bold;
    }
    .hb_l_t{
        font-size:rem(24);
        line-height:rem(32);
        color:#ffd587;
        text-align:center;
        margin:rem(20) auto 0;
        &_in{
            display:inline-block;
            vertical-align:top;
            position:relative;
            &:before{
                content:"";
                width:rem(24);
                height:0;
                border-bottom:#ffd587 solid 1px;
                position:absolute;
                left:rem(-32);
                top:50%;
            }
            &:after{
                content:"";
                width:rem(24);
                height:0;
                border-bottom:#ffd587 solid 1px;
                position:absolute;
                right:rem(-32);
                top:50%;
            }
        }
    }
    .sq_wrap{
        width:rem(416);
        height:rem(315);
        margin: 0 auto;
        position: relative;
        padding:rem(1) 0 0 0;
        .hb_mask{
            display: block;
            width: rem(416);
            height: rem(30);
            position: absolute;
            left: 0;
            bottom: 0;
            background: -webkit-gradient(linear,left top, left bottom,from(rgba(254,37,46,0)),to(rgba(254,37,46,1)));
            background: linear-gradient(to bottom,rgba(254,37,46,0),rgba(254,37,46,1))
        }
    }
    .sq_no_icon{
        display:block;
        width:rem(50);
        height:rem(50);
        margin:rem(85) auto 0;
        background:url(#{$img}/h_icon.png) no-repeat;
        background-size:rem(50) rem(50);
    }
    .sq_no_para{
        font-szie:rem(24);
        text-align:center;
        color:#ffd587;
        line-height:rem(32);
        margin:rem(16) auto 0;
    }
    .sq_list{
        width:rem(416);
        height:rem(295);
        padding: rem(20) 0 0 0;
        overflow: hidden;
        overflow-y:auto; 
        li{
            width:rem(416);
            height:rem(83);
            border-bottom:#e1393d dashed 1px;
            .hd_box{
                width: rem(56);
                height: rem(56);
                border: #ffdc87 solid rem(3);
                border-radius:50%;
                background: #ffdc87;
                margin: rem(8) 0 0 0;
                float: left;
                position: relative;
                .hd_tips{
                    display: inline-block;
                    height: rem(25);
                    line-height: rem(25);
                    color: #f43a3a;
                    font-size: rem(19);
                    padding: 0 rem(7);
                    position: absolute;
                    left: 50%;
                    top: rem(-20);
                    -webkit-transform: translate(-50%,0);
                            transform: translate(-50%,0);
                    white-space: nowrap;
                    border-radius: rem(12);
                    background: #ffdc87;
                }
                &_in{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        display: block;
                        width: rem(56);
                        height: rem(56);
                    }
                }
            }
            .hb_info{
                width: rem(255);
                height: 100%;
                float: left;
                overflow: hidden;
                margin: 0 0 0 rem(20);
                .hb_name{
                    font-size: rem(24);
                    color: #ffffff;
                    line-height: rem(32);
                    margin: rem(16) 0 0 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    position: relative;
                    .hb_zj{
                        display: block;
                        width: rem(81);
                        height: rem(27);
                        text-indent: -9999px;
                        background: url(#{$img}/hb_zj.png) no-repeat;
                        background-size: rem(81) rem(27);
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    .hb_name_sp{
                        display: block;
                        width: rem(174);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .hb_time{
                    font-size: rem(19);
                    line-height: rem(24);
                    color: #ffd587;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: rem(2) auto 0;
                }
            }
            .hb_qd{
                height: 100%;
                font-size: rem(24);
                line-height: rem(28);
                color: #ffffff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align:center;
                    -ms-flex-align:center;
                        align-items:center;
                -webkit-box-orient:horizontal;
                -webkit-box-direction:reverse;
                    -ms-flex-direction:row-reverse;
                        flex-direction:row-reverse;
                white-space: nowrap;
                &2{
                    color: #ffc179;
                }
            }
        }
    }
    .hb_jx{
        font-size: rem(19);
        color: #ffdc87;
        text-align: center;
        line-height: rem(25);
        margin: rem(16) auto 0;
    }
    .hb_pag{
        width: 100%;
        overflow: hidden;
        height: rem(17);
        position: absolute;
        bottom: rem(78);
        left: 0;
        white-space: nowrap;
        text-align:center;
        span{
            display: inline-block;
            width: rem(17);
            height: rem(17);
            border-radius: 50%;
            background: #eeeeee;
            vertical-align: top;
            margin: 0 rem(6);
            &.swiper-pagination-bullet-active{
                background: #fe252e;
            }
        }
    }
    .hb_share_btn{
        display: block;
        width: rem(254);
        height: rem(54);
        line-height: rem(54);
        text-align: center;
        font-size: rem(28);
        color: #feeab4;
        border: #ffdd98 solid rem(2);
        border-radius: rem(27);
        position: absolute;
        left: 50%;
        bottom: 0;
        margin: 0 0 0 rem(-127);
    }
    .hb_last_btn,.hb_prev_btn{
        display: block;
        width: rem(44);
        height: rem(44);
        background: url(#{$img}/left_btn.png) no-repeat;
        background-size: rem(44) rem(44);
        text-indent: -9999px;
        position: absolute;
        top:50%;
        margin: rem(-22) 0 0 0;
        z-index: 80;
    }
    .hb_last_btn{
        left: rem(15);
    }
    .hb_prev_btn{
        background: url(#{$img}/right_btn.png) no-repeat;
        background-size: rem(44) rem(44);
        right: rem(15);
    }
    .lg_wrap{
        width: rem(662);
        height: rem(641);
        position: absolute;
        top: rem(310);
        left: 50%;
        -webkit-transform: translate(-50%,0);
                transform: translate(-50%,0);
        background: url(#{$img}/hb_bg2.png) no-repeat;
        background-size: rem(662) rem(641);
    }
    .lg_t{
        top: rem(215);
    }
    .lg_para{
        width: rem(372);
        font-size: rem(42);
        color: #d82522;
        text-align: center;
        line-height: rem(52);
        position: absolute;
        top: rem(224);
        left: 50%;
        -webkit-transform: translate(-50%,0);
                transform: translate(-50%,0);
        &2{
            font-size: rem(35)
        }
        &3{
            width: rem(400);
            font-size: rem(32)
        }
    }
    .lg_join_btn{
        display: block;
        width: rem(328);
        height: rem(69);
        text-align: center;
        line-height: rem(69);
        margin: rem(446) auto 0;
        font-size: rem(34);
        color: #e1220f;
        background: url(#{$img}/join_btn.png) no-repeat;
        background-size: rem(328) rem(69);
    }
}
@-webkit-keyframes ws_jt{
    0%{
        top:rem(134);
        right:rem(85);
    }
    100%{
        top:rem(70);
        right:rem(35);
    }
}
@keyframes ws_jt{
    0%{
        top:rem(134);
        right:rem(85);
    }
    100%{
        top:rem(70);
        right:rem(35);
    }
}
