$img:'../ossweb-img';
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
table { border-collapse: collapse; }
body { background: #000; font: 15px/1  "Helvetica Neue", Helvetica, STHeiTi, sans-serif; color: #333; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -webkit-touch-callout: none; -webkit-user-select: text; -webkit-touch-callout: none; word-break: break-all; word-wrap: break-word; -webkit-text-size-adjust: auto !important; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
div, span { outline: none; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
strong, i, em { font-weight: normal; font-style: normal; }
input, select, form { vertical-align: middle; outline: none; }
img { border: none; vertical-align: top; }
a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus, [onclick] { outline: 0; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
a { -webkit-touch-callout: none; text-decoration: none; color: #666666; outline: 0; }
.hidden { width: 0; height: 0; line-height: 0; font-size: 0; visibility: hidden; text-indent: -9999px; display: block; }
.fl { float: left; }
.fr { float: right; }
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.wrap { width: 640px; overflow: hidden; position: relative; margin: 0 auto; }
.wrap_in { width: 100%; position: relative; z-index: 10;height: 1138px; }
.foot { width: 100%; font-size: 20px; color: #999; text-align: center; background: #000; padding: 18px 0 18px 0; line-height: 30px; }
@font-face {
  font-family: 'fz';
  src: url('#{$img}/fz.eot');
  src:
    url('#{$img}/fz.eot?#font-spider') format('embedded-opentype'),
    url('#{$img}/fz.woff') format('woff'),
    url('#{$img}/fz.ttf') format('truetype'),
    url('#{$img}/fz.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.p1{
	width: 640px;
	height: 1138px;
	background:url(#{$img}/p1.jpg) no-repeat;
	background-size: 640px auto;
	position: relative;
	overflow: hidden;
}
.p1_js{
	position: absolute;
	top: 485px;
	right: 24px;
	text-align: right;
	font-size: 20px;
	color: #ffffff;
	p{
		padding-bottom: 6px;
	}
	a{
		font-size: 20px;
		color: #ffc711;
		text-decoration: underline;
	}
}
.p1_st_box{
	padding-top: 698px;
	a{
		display: block;
		width: 364px;
		height: 103px;
		margin: 0 auto 24px;
		text-indent: -9999px;
		&.p1_kq{
			background: url(#{$img}/p1_kq.png) no-repeat;
			background-size: 100%;
		}
		&.p1_sc{
			background: url(#{$img}/p1_sc.png) no-repeat;
			background-size: 100%;
		}
	}
}
.p1_tips{
	display: block;
	width: 61px;
	height: 34px;
	background: url(#{$img}/bot_jt.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 50%;
	top: 1062px;
	margin: 0 0 0 -30px;
	animation: tips 1s infinite;
}

.p2{
	background:url(#{$img}/p2.jpg) no-repeat;
	background-size: 640px auto;
}
.p_t1{
	width: 391px;
	height: 68px;
	background: url(#{$img}/p_t1.png) no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	margin: 40px auto 0;
}

.p_ans_list{
	width: 545px;
	margin: 634px auto 0;
	dt{
		padding-left: 30px;
		font-size: 20px;
		color: #562602;
		font-family: 'fz';
		line-height: 28px;
		margin: 0 0 14px 0;
		span.as_xh{
			display: inline-block;
			width: 21px;
			height: 21px;
			background: url(#{$img}/qes_xh.png) no-repeat;
			background-size: 100%;
			text-align: center;
			line-height: 21px;
			font-size: 16px;
			color: #ffffff;
			vertical-align: top;
			margin: 3px 9px 0 -30px;
		}
	}
	dd{
		padding-left: 30px;
		font-size: 18px;
		font-family: 'fz';
		line-height: 28px;
		margin: 0 0 12px 0;
		color: #4f2201;
		span{
			color: #a30303;
		}
		p{
			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding-bottom: 10px;
		}
	}
}

.p_check_box{
	margin: 30px auto 0;
	display: flex;
	justify-content: center;
	a{
		display: block;
		width: 202px;
		height: 74px;
		text-indent: -9999px;
		margin: 0 39px;
		&.ck_btn1{
			background: url(#{$img}/check_btn1.png) no-repeat;
			background-size: 100%;
			&.cur{
				background: url(#{$img}/check_btn1_cur.png) no-repeat;
				background-size: 100%;
			}
		}
		&.ck_btn2{
			background: url(#{$img}/check_btn2.png) no-repeat;
			background-size: 100%;
			&.cur{
				background: url(#{$img}/check_btn2_cur.png) no-repeat;
				background-size: 100%;
			}
		}
	}
}
.p_next{
	text-align: center;
	font-size: 22px;
	color: #d03434;
	line-height: 28px;
	margin: 34px auto 0;
	font-family: 'fz';
}
.p3{
	background:url(#{$img}/p3.jpg) no-repeat;
	background-size: 640px auto;
}
.p_t2{
	background: url(#{$img}/p_t2.png) no-repeat;
	background-size: 100%;
}
.p4{
	background:url(#{$img}/p4.jpg) no-repeat;
	background-size: 640px auto;
}
.p_t3{
	background: url(#{$img}/p_t3.png) no-repeat;
	background-size: 100%;
}
.p5{
	background:url(#{$img}/p5.jpg) no-repeat;
	background-size: 640px auto;
}
.p_t4{
	background: url(#{$img}/p_t4.png) no-repeat;
	background-size: 100%;
}
.p6{
	background:url(#{$img}/p6.jpg) no-repeat;
	background-size: 640px auto;
}
.p_t5{
	background: url(#{$img}/p_t5.png) no-repeat;
	background-size: 100%;
}
.p7{
	background:url(#{$img}/p7.jpg) no-repeat;
	background-size: 640px auto;
}
.p7_para{
	margin: 64px auto 0;
	font-size: 26px;
	color: #944500;
	font-family: 'fz';
	text-align: center;
	line-height: 56px;
}
.p8{
	background:url(#{$img}/p8.jpg) no-repeat;
	background-size: 640px auto;
}
.p_t6{
	width: 523px;
	background: url(#{$img}/p_t6.png) no-repeat;
	background-size: 100%;
}
.jr_btn{
	display: block;
	width: 364px;
	height: 103px;
	background: url(#{$img}/p1_sc.png) no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	margin: 160px auto 0;
}
.pers_list{
	width: 560px;
	height: 600px;
	margin: 80px auto 0;
	display: flex;
	flex-wrap: wrap;
	li{
		width: 25%;
		height: 180px;
		position: relative;
		.pers_img_box{
			width: 111px;
			height: 138px;
			margin: 0 auto;
			background: url(#{$img}/hd_icon_bg.png) no-repeat;
			background-size: 100%;
			position: relative;
			left: 4px;
		}
		&:nth-child(4n){
			.pers_img_box{
				background: url(#{$img}/hd_icon_bg.png) no-repeat -4px 0;
				background-size: 100%;
			}
		}
		img{
			display: block;
			width: 111px;
			height: 138px;
			margin: 0 auto;
		}
		p{
			width: 100%;
			font-size: 20px;
			color: #ebf329;
			font-family: 'fz';
			text-align: center;
			line-height: 24px;
		}
		&.cur{
			.pers_img_box{
				width: 111px;
				height: 138px;
				margin: 0 auto;
				background: url(#{$img}/hd_icon_bcur.png) no-repeat;
				background-size: 100%;
				position: relative;
				left: 4px;
			}
			&:nth-child(4n){
				.pers_img_box{
					background: url(#{$img}/hd_icon_bcur.png) no-repeat -4px 0;
					background-size: 100%;
				}
			}
		}
	}
}
.page_box{
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: center;
	span{
		display: block;
		width: 137px;
		height: 44px;
		text-indent: -9999px;
		margin: 0 17px;
		&.last_page{
			background: url(#{$img}/last_page.png) no-repeat;
			background-size: 100%;
		}
		&.next_page{
			background: url(#{$img}/next_page.png) no-repeat;
			background-size: 100%;
		}
	}
}
.sc_btn{
	display: block;
	width: 364px;
	height: 103px;
	background: url(#{$img}/sc_btn.png) no-repeat;
	background-size: 100%;
	margin: 172px auto 0;
	text-indent: -9999px;
}
.p9{
	background:url(#{$img}/p9.jpg) no-repeat;
	background-size: 640px auto;
	position: relative;
}
.stu_num{
	width: 100%;
	position:absolute;
	right: 8px;
	top: 40px;
	color: #383b2f;
	font-size: 18px;
	text-align: right;
}
.xj_img_box{
	width: 453px;
	height: 472px;
	margin: 112px auto 0;
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}
.xj_name{
	width: 572px;
	margin: 10px auto 0;
	font-size: 26px;
	line-height: 38px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: #944905 3px 0 3px,#944905 -3px 0 3px,#944905 0 3px 3px,#944905 0 -3px 3px;
	letter-spacing: 8px;
}
.rest_para{
	width: 100%;
	text-align: center;
	font-size: 46px;
	position: relative;
	color: #383b2f;
	font-family: 'fz';
	margin-top:28px;
	.rd{
		position: relative;
		z-index: 20;
	}
	.rest_tips{
		display: block;
		width: 121px;
		height: 121px;
		background:url(#{$img}/mx_tips.png) no-repeat;
		background-size: 100%;
		position: absolute;
		right: 20px;
		top: -74px;
		z-index: 5; 
		&.r2{
			background:url(#{$img}/mx_tips2.png) no-repeat;
			background-size: 100%;
		}
		&.r3{
			background:url(#{$img}/mx_tips3.png) no-repeat;
			background-size: 100%;
		}
		&.r4{
			background:url(#{$img}/mx_tips4.png) no-repeat;
			background-size: 100%;
		}
		&.r5{
			background:url(#{$img}/mx_tips5.png) no-repeat;
			background-size: 100%;
		}
	} 
}
.st_box{
	width: 574px;
	height: 268px;
	background: url(#{$img}/lb_box.png) no-repeat;
	background-size: 100%;
	margin: 6px auto 0;
	padding-top: 1px;
	position: relative;
}
.st_list{
	width: 538px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	li{
		width: 25%;
	}
	.st_img{
		display: block;
		width: 106px;
		height: 105px;
		margin: 0 auto ;
	}
	.st_name{
		font-size: 18px;
		line-height: 26px;
		font-weight: bold;
		color: #383b2f;
		text-align: center;
		margin: 10px auto 0;
	}
}
.dom_ig{
	width: 100%;
	height: 770px;
	position: relative;
}
.dom_ig_in{
	height: 770px;
	overflow: hidden;
	background: url(#{$img}/p9.jpg) no-repeat;
	background-size: 100%  auto;
}
.dom2img-result{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
}
.lj_btn{
	display: block;
	width: 282px;
	height: 74px;
	background: url(#{$img}/lj_btn.png) no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	position: absolute;
	left: 50%;
	bottom: -48px;
	margin: 0 0 0 -141px;
}
.qw_btn{
	position: absolute;
	bottom: 10px;
	left: 12px;
	font-size: 18px;
	font-weight: bold;
	color: #cc2f2f;
	text-decoration: underline;
	line-height: 24px;
}
.save_btn{
	position: absolute;
	bottom: 10px;
	right: 12px;
	font-size: 18px;
	font-weight: bold;
	color: #cc2f2f;
	text-decoration: underline;
	line-height: 24px;
}

/*dia*/
.dia{
	width: 567px;
	height: 328px;
	background: url(#{$img}/d_bg.png) no-repeat;
	background-size: 100%;
}
.dia2{
	height: 430px;
	background: url(#{$img}/d_bg2.png) no-repeat;
	background-size: 100%;
}
.d_t{
	display: block;
	width: 100%;
	height: 42px;
	background: url(#{$img}/d_t1.png) no-repeat top center;
	background-size:auto 100%;
	text-indent: -9999px;
	margin: 28px auto 0;
	&.d_t2{
		background: url(#{$img}/d_t2.png) no-repeat top center;
		background-size: auto 100%;
	}
	&.d_t3{
		background: url(#{$img}/d_t3.png) no-repeat top center;
		background-size: auto 100%;
	}
	&.d_t4{
		background: url(#{$img}/d_t4.png) no-repeat top center;
		background-size: auto 100%;
	}
	&.d_t5{
		background: url(#{$img}/d_t5.png) no-repeat top center;
		background-size: auto 100%;
	}
	&.d_t6{
		background: url(#{$img}/d_t6.png) no-repeat top center;
		background-size: auto 100%;
	}
}
.d_close{
	display: block;
	width: 27px;
	height: 22px;
	background: url(#{$img}/d_close.png) no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	position: absolute;
	right: -12px;
	top: -38px;
}
.d_lg_box{
	width: 420px;
	height: 156px;
	display: flex;
	justify-content: space-between;
	background: url(#{$img}/d_log.png) no-repeat;
	background-size: 100%;
	margin: 48px auto 0;
	a{
		display: block;
		width: 156px;
		height: 156px;
		text-indent: -9999px;
	}
}
.d_p1{
	width: 504px;
	height: 136px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 32px;
	color: #4e1e11;
	font-family: 'fz';
	margin: 6px auto 0;
	p{
		width: 100%;
	}
}
.d_p2{
	font-size: 26px;
	span{
		color: #dd6317;
	}
}
.d_p3{
	margin: 60px auto 0;
}
.d_btn_box{
	width: 463px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	a{
		display: block;
		width: 202px;
		height: 74px;
		background: url(#{$img}/d_btn.png) no-repeat;
		background-size: 100%;
		text-align: center;
		line-height: 66px;
		font-size: 32px;
		color: #ffffff;
		font-weight: bold;
		margin: 0 15px;
	}
}
.d_qf_list{
	width: 378px;
	margin: 10px auto 0;
	li{
		width: 100%;
		height: 32px;
		position: relative;
		display: flex;
		margin: 0 0 24px 0;
	}
	.qf_name{
		height: 32px;
		width: 74px;
		text-align: center;
		font-size: 22px;
		color: #ffffff;
		line-height: 32px;
		background: #4e1b10;
	}
	.selcet_box{
		width: 300px;
		height: 32px;
		position: relative;
	}
	.qf_select{
		display: block;
		-webkit-appearance: none;
		width: 300px;
		height: 32px;
		box-sizing: border-box;
		line-height: 28px;
		border: #4e1b10 solid 2px;
		background: none;
		background: #fffcf8;
		text-indent: 16px;
		color: #4e1b10;
		font-size: 16px;
	}
	.selec_tips{
		display: block;
		width: 20px;
		height: 18px;
		background: url(#{$img}/select_tips.png) no-repeat;
		background-size: 100%;
		position: absolute;
		right: 10px;
		top: 8px;
		z-index: 20;
		user-select: none;
		pointer-events: none;
	}
}

@keyframes tips{
	0%{
		transform: translate(0,-10px);
		opacity: 0;
	}
	100%{
		transform: translate(0,10px);
		opacity: 1;
	}
}